Node Red/flows.json
[{"id":"46ad0f90.f2e8f","type":"tab","label":"Startup"},{"id":"32844adc.db94a6","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"1034a905.09a6e7","type":"tab","label":"System","disabled":false,"info":""},{"id":"50afdb76.ed9f74","type":"tab","label":"Configuration"},{"id":"9d369813.62c968","type":"tab","label":"Pump Calibration"},{"id":"63c5280c.e5f3e8","type":"tab","label":"EC Sensor Flows","disabled":false,"info":""},{"id":"8b4de44f.be3818","type":"tab","label":"PH Sensor Flows","disabled":false,"info":""},{"id":"7994f3a.ba7940c","type":"tab","label":"Fert Cycle","disabled":false,"info":""},{"id":"829e5c6f.d86b7","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"c83a711d.e09dc","type":"tab","label":"Water Level","disabled":false,"info":""},{"id":"d73c9477.9ebb98","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"27b141e4.135f1e","type":"tab","label":"ESP/WaterLevel","disabled":false,"info":""},{"id":"c28e15c3.5a4948","type":"tab","label":"Test Results","disabled":false,"info":""},{"id":"74ae23ac.7d3dfc","type":"tab","label":"PH/CO2","disabled":false,"info":""},{"id":"ad35b430.a40cf8","type":"tab","label":"Camera Stills","disabled":true,"info":""},{"id":"2d30566f.d99c6a","type":"tab","label":"ESP Color","disabled":false,"info":""},{"id":"efb006e.4522bf8","type":"subflow","name":"Atlas EC Calibration","info":"This will put the Settings controls on \nSensors/EC Settings","in":[{"x":40,"y":40,"wires":[{"id":"8062eddb.53114"}]}],"out":[]},{"id":"d2a73b8b.28e658","type":"subflow","name":"PH Calibration","info":"","in":[{"x":50,"y":30,"wires":[{"id":"442db8f9.7a1788"}]}],"out":[]},{"id":"3eb9c5c7.8e8d6a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"AquaEscape","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"a0b6dffb.c6749","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"c720ddb3.26805","type":"ui_tab","z":"","name":"Settings","icon":"fa-cog","order":4},{"id":"908dec65.54be3","type":"ui_group","z":"","name":"Sensor","tab":"c720ddb3.26805","order":2,"disp":true,"width":"6"},{"id":"63980a12.cc7494","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7f703371.9503ec","type":"ui_group","z":"","name":"Dosing","tab":"c720ddb3.26805","order":1,"disp":true,"width":"6"},{"id":"d65fa06a.d9342","type":"ui_group","z":"","name":"Dosing Pumps","tab":"5a8bf5c.e36b40c","order":1,"disp":true,"width":"6"},{"id":"b1bcd85f.5a66b8","type":"ui_group","z":"","name":"Dosing Pumps Calibration","tab":"5a8bf5c.e36b40c","order":4,"disp":true,"width":"6"},{"id":"4d737da4.6ec1e4","type":"ui_group","z":"","name":"CPU Load","tab":"8946b884.c202d8","order":2,"disp":true,"width":"6"},{"id":"feb08bc8.791bf8","type":"ui_group","z":"","name":"Memory","tab":"8946b884.c202d8","order":3,"disp":true,"width":"6"},{"id":"4c8c3ebb.63514","type":"ui_group","z":"","name":"System Information","tab":"8946b884.c202d8","order":5,"disp":true,"width":"6"},{"id":"8946b884.c202d8","type":"ui_tab","z":"","name":"System","icon":"computer","order":6},{"id":"7bb23b1a.074344","type":"ui_group","z":"","name":"CPU Temp","tab":"8946b884.c202d8","order":1,"disp":true,"width":"6"},{"id":"db0b264a.daf448","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"AquaEscape","name":"AquaEscape","usetls":false,"tls":""},{"id":"2fabc9.39841438","type":"ui_group","z":"","name":"Electrical Conductivity","tab":"1958420f.a42bfe","order":4,"disp":true,"width":"7"},{"id":"cc8c3a59.7eb668","type":"ui_group","z":"","name":"pH","tab":"1958420f.a42bfe","order":3,"disp":true,"width":"7"},{"id":"33bf8cda.a56a84","type":"ui_link","z":"","name":"Grafana","link":"http://fishnet1.local:3000/dashboard/db/1-sensor","icon":"open_in_browser","target":"newtab","order":8},{"id":"5daf0236.d97a2c","type":"ui_group","z":"","name":"EC Settings","tab":"5a8bf5c.e36b40c","order":6,"disp":true,"width":"6"},{"id":"2795391f.289906","type":"ui_group","z":"","name":"PH Settings","tab":"5a8bf5c.e36b40c","order":5,"disp":true,"width":"6"},{"id":"5ac41d40.b01054","type":"ui_group","z":"","name":"PH Calibration","tab":"5a8bf5c.e36b40c","order":7,"disp":true,"width":"6"},{"id":"57e78a36.51e6c4","type":"ui_group","z":"","name":"EC Calibration","tab":"5a8bf5c.e36b40c","order":8,"disp":true,"width":"6"},{"id":"87c42826.ad3378","type":"ui_group","z":"","name":"Temperature","tab":"1958420f.a42bfe","order":1,"disp":true,"width":"7"},{"id":"b02bb45c.1e0888","type":"ui_tab","z":"","name":"Lights","icon":"fa-lightbulb-o","order":9},{"id":"5a8bf5c.e36b40c","type":"ui_tab","z":"","name":"Water Mgmt","icon":"fa-leaf","order":10},{"id":"c13c6b1f.1a7918","type":"ui_group","z":"","name":"Fert Cycle","tab":"5a8bf5c.e36b40c","order":2,"disp":true,"width":"6"},{"id":"6d6f903b.6fd38","type":"ui_group","z":"","name":"LED PWM Controls","tab":"b02bb45c.1e0888","order":2,"disp":true,"width":"6"},{"id":"bcd3d703.86cfc8","type":"ui_group","z":"","name":"Light Curve","tab":"b02bb45c.1e0888","disp":true,"width":"12"},{"id":"eb791aa0.e6ea68","type":"ui_group","z":"","name":"Water Level","tab":"1958420f.a42bfe","order":2,"disp":true,"width":"7"},{"id":"c68714e7.e47ea8","type":"PCA9685","z":"","deviceNumber":"1","address":"112","frequency":"1024"},{"id":"f09a5c43.cd2cb","type":"ui_group","z":"","name":"Water","tab":"a0b6dffb.c6749","order":1,"disp":true,"width":"7"},{"id":"1958420f.a42bfe","type":"ui_tab","z":"","name":"Charts","icon":"fa-line-chart","order":3},{"id":"c1c3ef67.1f66","type":"ui_group","z":"","name":"System","tab":"a0b6dffb.c6749","order":2,"disp":true,"width":"7"},{"id":"b6e00ffc.ea558","type":"ui_group","z":"","name":"Devices","tab":"a0b6dffb.c6749","order":4,"disp":true,"width":"7"},{"id":"44afdf8c.66d06","type":"ui_group","z":"","name":"Light","tab":"a0b6dffb.c6749","order":3,"disp":true,"width":"2"},{"id":"6a29bbfc.e74224","type":"ui_group","z":"","name":"Test Results","tab":"5a8bf5c.e36b40c","disp":true,"width":"6"},{"id":"e87f1dde.11f83","type":"ui_tab","z":"","name":"Fix","icon":"dashboard"},{"id":"c6003a30.200c08","type":"ui_group","z":"","name":"Resume TimerSwitch","tab":"e87f1dde.11f83","disp":true,"width":"6"},{"id":"ade538d4.467548","type":"twitter-credentials","z":"","screen_name":"@joe_at_diverjoe"},{"id":"fc0fb14a.1b8a3","type":"ui_group","z":"","name":"Default","tab":"7d2d699f.318678","disp":true,"width":"6"},{"id":"7d2d699f.318678","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"cf2d9801.1a4cc8","type":"function","z":"32844adc.db94a6","name":"C to F","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\n    msg.timestamp = Date.now();\n    msg.topic =  \"temp\";\n    return msg;","outputs":1,"noerr":0,"x":291.00005531311035,"y":150.0000238418579,"wires":[["8b2c888e.6d8758","32119e14.cd37f2","a3b087e.641be78","c5038467.7d9628","29398a10.2fbed6","c5a7db5a.84ae98","97079fa6.a482a"]]},{"id":"8b2c888e.6d8758","type":"ui_chart","z":"32844adc.db94a6","name":"","group":"87c42826.ad3378","order":0,"width":"0","height":"0","label":"Tank Temp &deg; F","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":653.0000591278076,"y":73.00008487701416,"wires":[[],[]]},{"id":"32119e14.cd37f2","type":"ui_text","z":"32844adc.db94a6","group":"87c42826.ad3378","order":0,"width":0,"height":0,"name":"","label":"Temp","format":"  {{msg.payload}}&deg; F","layout":"row-left","x":610,"y":160,"wires":[]},{"id":"a3b087e.641be78","type":"mqtt out","z":"32844adc.db94a6","name":"","topic":"Sensor\\TankTemp","qos":"0","retain":"false","broker":"63980a12.cc7494","x":530,"y":480,"wires":[]},{"id":"4a0a42cc.e7050c","type":"influxdb out","z":"32844adc.db94a6","influxdb":"db0b264a.daf448","name":"SensorReadings","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":870,"y":200,"wires":[]},{"id":"c5038467.7d9628","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"payload","x":480,"y":560,"wires":[]},{"id":"e2ea82b1.47e0a","type":"file in","z":"46ad0f90.f2e8f","name":"flows_vps.json","filename":"/home/pi/.node-red/flows.json","format":"utf8","sendError":true,"x":340,"y":100,"wires":[["8335c374.4d82b"]]},{"id":"5fb64320.67fb3c","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":730,"y":100,"wires":[]},{"id":"26f80c2e.ea87d4","type":"inject","z":"46ad0f90.f2e8f","name":"","topic":"","payload":"restarted","payloadType":"str","repeat":"","crontab":"","once":true,"x":134,"y":113,"wires":[["e2ea82b1.47e0a","f9e92ebf.2f3cd","87722e84.d74aa","9c409f68.7def7"]]},{"id":"8335c374.4d82b","type":"function","z":"46ad0f90.f2e8f","name":"Set Filename","func":"msg.filename = \"/home/pi/usbdrv/backups/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["5fb64320.67fb3c"]]},{"id":"f9e92ebf.2f3cd","type":"file in","z":"46ad0f90.f2e8f","name":"flows_vps_cred.json","filename":"/home/pi/.node-red/flows_cred.json","format":"utf8","sendError":true,"x":360,"y":140,"wires":[["e3166661.763cb8"]]},{"id":"ada313af.c5fe4","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":730,"y":140,"wires":[]},{"id":"e3166661.763cb8","type":"function","z":"46ad0f90.f2e8f","name":"Set Filename","func":"msg.filename = \"/home/pi/usbdrv/backups/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["ada313af.c5fe4"]]},{"id":"8331c54d.b61bf8","type":"inject","z":"46ad0f90.f2e8f","name":"Daily backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 2 * * *","once":false,"x":140,"y":400,"wires":[["843f4cd3.b38be"]]},{"id":"843f4cd3.b38be","type":"function","z":"46ad0f90.f2e8f","name":"Prep data","func":"// The globallist is all of the MQTT message topics / Configuration Items that are to be maintained by the system\n\nvar globallist = \"Config/minTemp;Config/maxTemp;Config/maxWaterLevel;Config/minWaterLevel;Config/macroDoseAmt;Config/microDoseAmt;Config/macroDoseRate;Config/microDoseRate;Config/ghDoseRate;Config/ghDoseAmt;Config/alkDoseRate;Config/alkDoseAmt\";\n// global variables separated by semicolon to be saved - no semicolon at end\n\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n\nmsg.payload = outputs;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["db938ad4.534408"]]},{"id":"fbc5c818.24e1e8","type":"comment","z":"46ad0f90.f2e8f","name":"Save global variables","info":"","x":148,"y":300,"wires":[]},{"id":"3ae7bc7e.55fee4","type":"comment","z":"46ad0f90.f2e8f","name":"Restore global variables","info":"","x":158,"y":441,"wires":[]},{"id":"b0ac0316.4b86d","type":"inject","z":"46ad0f90.f2e8f","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117,"y":489,"wires":[["c7c7cca4.fe62c"]]},{"id":"327af785.da2758","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/.node-red/global.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":790,"y":400,"wires":[]},{"id":"c7c7cca4.fe62c","type":"file in","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/.node-red/global.json","format":"utf8","sendError":true,"x":368,"y":488,"wires":[["7b5e7123.d1dd9"]]},{"id":"c2cb96a.7fcef68","type":"function","z":"46ad0f90.f2e8f","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":489,"wires":[["24c37cef.9726e4","cc4bfd8c.81f4","4ec1ea27.06e114","80128ab2.d2a6c8","f31b4d21.570fa","a9e51d59.56353","918a408d.302b1","b205df9c.768fa","30f6a7b2.7dd618","56d39826.7e6bd8","582799c9.a1bcd8","462d3a96.eca294"]]},{"id":"db938ad4.534408","type":"json","z":"46ad0f90.f2e8f","name":"","pretty":false,"x":530,"y":400,"wires":[["327af785.da2758"]]},{"id":"7b5e7123.d1dd9","type":"json","z":"46ad0f90.f2e8f","name":"","pretty":false,"x":570,"y":480,"wires":[["c2cb96a.7fcef68","4e0bfcfb.4627c4"]]},{"id":"24c37cef.9726e4","type":"function","z":"46ad0f90.f2e8f","name":"Config/maxTemp restore","func":"msg.topic = \"Config/maxTemp\";\nmsg.payload = global.get(\"Config/maxTemp\");\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":500,"wires":[["2bea0eef.912692"]]},{"id":"cc4bfd8c.81f4","type":"function","z":"46ad0f90.f2e8f","name":"Config/minTemp restore","func":"msg.topic = \"Config/minTemp\";\nmsg.payload = global.get(\"Config/minTemp\");\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":540,"wires":[["a5d12279.df46d"]]},{"id":"2bea0eef.912692","type":"link out","z":"46ad0f90.f2e8f","name":"Config/maxTemp","links":["9065f249.161c4","bcdd2ee4.3554f"],"x":1195,"y":500,"wires":[]},{"id":"a5d12279.df46d","type":"link out","z":"46ad0f90.f2e8f","name":"Config/minTemp","links":["2aa0efc0.47399","a2718bf5.fb3cf8"],"x":1195,"y":540,"wires":[]},{"id":"eb9fa357.8ce81","type":"mqtt in","z":"46ad0f90.f2e8f","name":"persistContext","topic":"persistContext","qos":"2","broker":"63980a12.cc7494","x":100,"y":340,"wires":[["72946509.2ae038","843f4cd3.b38be","bb3514bc.2e01c8"]]},{"id":"80128ab2.d2a6c8","type":"function","z":"46ad0f90.f2e8f","name":"Config/maxWaterLevel restore","func":"msg.topic = \"Config/maxWaterLevel\";\nmsg.payload = global.get(\"Config/maxWaterLevel\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":620,"wires":[["e0ed8577.bf9788"]]},{"id":"e0ed8577.bf9788","type":"link out","z":"46ad0f90.f2e8f","name":"Config/maxWaterLevel","links":["f95e7892.487498","fee7f958.89ce68"],"x":1195,"y":620,"wires":[]},{"id":"4ec1ea27.06e114","type":"function","z":"46ad0f90.f2e8f","name":"Config/minWaterLevel restore","func":"msg.topic = \"Config/minWaterLevel\";\nmsg.payload = global.get(\"Config/minWaterLevel\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":580,"wires":[["752185f1.3e997c"]]},{"id":"752185f1.3e997c","type":"link out","z":"46ad0f90.f2e8f","name":"Config/minWaterLevel","links":["f954ddc.59c532","ed8acbcd.e5dd48"],"x":1195,"y":580,"wires":[]},{"id":"f31b4d21.570fa","type":"function","z":"46ad0f90.f2e8f","name":"Config/microDoseRate","func":"msg.topic = \"Config/microDoseRate\";\nmsg.payload = global.get(\"Config/microDoseRate\");\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":700,"wires":[["d9b3fe1e.10d8b"]]},{"id":"d9b3fe1e.10d8b","type":"link out","z":"46ad0f90.f2e8f","name":"Config/microDoseRate","links":["126a5f2d.543911","32d26d4.c6e1b92"],"x":1195,"y":700,"wires":[]},{"id":"a9e51d59.56353","type":"function","z":"46ad0f90.f2e8f","name":"Config/macroDoseRate","func":"msg.topic = \"Config/macroDoseRate\";\nmsg.payload = global.get(\"Config/macroDoseRate\");\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":660,"wires":[["ab91260d.0d8b28"]]},{"id":"ab91260d.0d8b28","type":"link out","z":"46ad0f90.f2e8f","name":"Config/macroDoseRate","links":["5ec116b3.3c4dd8","19ffe864.09c898"],"x":1195,"y":660,"wires":[]},{"id":"6c913929.5f04e8","type":"catch","z":"46ad0f90.f2e8f","name":"","scope":null,"x":120,"y":40,"wires":[["90fcfb46.95b9b8"]]},{"id":"90fcfb46.95b9b8","type":"debug","z":"46ad0f90.f2e8f","name":"","active":true,"console":"false","complete":"true","x":270,"y":40,"wires":[]},{"id":"72946509.2ae038","type":"debug","z":"46ad0f90.f2e8f","name":"","active":false,"console":"false","complete":"payload","x":730,"y":340,"wires":[]},{"id":"5e72f2ca.6c202c","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":4,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"fa-check","payload":"on","payloadType":"str","topic":"relay","x":230,"y":460,"wires":[["26807a4d.986486","6921ae35.d0b3f","31e22274.2832ae"]]},{"id":"f8e66795.34e7a8","type":"ui_numeric","z":"9d369813.62c968","name":"","label":"Seconds","group":"b1bcd85f.5a66b8","order":2,"width":"3","height":"1","passthru":false,"topic":"delay","format":"{{value}}","min":"1","max":"120","step":1,"x":238.00000190734863,"y":562.1812419891357,"wires":[["6921ae35.d0b3f","31e22274.2832ae"]]},{"id":"be5fe7c4.35fa28","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":5,"width":"3","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"fa-hand-stop-o","payload":"off","payloadType":"str","topic":"relay","x":230,"y":520,"wires":[["eb8c2405.56fc78","26807a4d.986486","31e22274.2832ae"]]},{"id":"ab8d9844.034168","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":3,"width":"3","height":"1","name":"","label":"Secs Remaining","format":"{{msg.payload}}","layout":"row-left","x":750,"y":550,"wires":[]},{"id":"1a09e97e.776027","type":"link in","z":"9d369813.62c968","name":"pumpName","links":[],"x":115,"y":60,"wires":[["647a16e4.669978"]]},{"id":"6c2b6523.9850dc","type":"ui_text_input","z":"9d369813.62c968","name":"Results (ml)","label":"Result (ml)","group":"b1bcd85f.5a66b8","order":6,"width":"0","height":"0","passthru":true,"mode":"text","delay":"100","topic":"ml","x":390,"y":820,"wires":[["9f73369f.bb7238"]]},{"id":"9f73369f.bb7238","type":"function","z":"9d369813.62c968","name":"Set Flow Var","func":"var ml = msg.payload;\nvar secs = flow.get('pumpSecs');\nvar flowRate = (ml / secs).toFixed(4);\nmsg.payload = (flowRate);\nflow.set('flowRate', flowRate);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":810,"wires":[["dbd29da.d613a6","4be90e48.d045a"]]},{"id":"4be90e48.d045a","type":"debug","z":"9d369813.62c968","name":"ml","active":false,"console":"false","complete":"payload","x":1010,"y":820,"wires":[]},{"id":"1af9fce4.d030c3","type":"ui_template","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","name":"","order":9,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":380,"y":860,"wires":[[]]},{"id":"58449b54.0c6974","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":7,"width":0,"height":0,"name":"","label":"Old Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":670,"y":60,"wires":[]},{"id":"dbd29da.d613a6","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":8,"width":0,"height":0,"name":"","label":"New Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":920,"y":960,"wires":[]},{"id":"b402bdfa.d5079","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":10,"width":"6","height":"1","label":"Saveit","color":"white","bgcolor":"","icon":"fa-save","payload":"1","payloadType":"num","topic":"","x":140,"y":1000,"wires":[["78626221.590ddc"]]},{"id":"78626221.590ddc","type":"function","z":"9d369813.62c968","name":"Gather up parts","func":"\nglobal.set(\"Config/\" + flow.get(\"pumpName\").toLowerCase() + \"DoseRate\", flow.get('flowRate'));\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["342b7b5f.f8b064"]]},{"id":"647a16e4.669978","type":"ui_dropdown","z":"9d369813.62c968","name":"Dosing Pump","label":"Dosing Pump","place":"","group":"b1bcd85f.5a66b8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Macro","value":"Macro","type":"str"},{"label":"Micro","value":"Micro","type":"str"},{"label":"GH","value":"GH","type":"str"},{"label":"ALK","value":"ALK","type":"str"},{"label":"Drain","value":"Drain","type":"str"}],"payload":"","topic":"pumpName","x":250,"y":60,"wires":[["71b4c1fc.838a9"]]},{"id":"34a8441c.67e96c","type":"comment","z":"46ad0f90.f2e8f","name":"Links","info":"Set of links to allow the info to be able to be \naccessed directly without a funtion node.","x":1208,"y":436,"wires":[]},{"id":"b205df9c.768fa","type":"function","z":"46ad0f90.f2e8f","name":"Config/microDoseAmt","func":"msg.topic = \"Config/microDoseAmt\";\nmsg.payload = global.get(\"Config/microDoseAmt\");\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":780,"wires":[["7b971d44.038c64"]]},{"id":"7b971d44.038c64","type":"link out","z":"46ad0f90.f2e8f","name":"Config/microDoseAmt","links":["d470325e.b7bce","851bac71.92c1"],"x":1195,"y":780,"wires":[]},{"id":"918a408d.302b1","type":"function","z":"46ad0f90.f2e8f","name":"Config/macroDoseAmt","func":"msg.topic = \"Config/macroDoseAmt\";\nmsg.payload = global.get(\"Config/macroDoseAmt\");\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":740,"wires":[["5c054274.ad170c"]]},{"id":"5c054274.ad170c","type":"link out","z":"46ad0f90.f2e8f","name":"Config/macroDoseAmt","links":["80898e1d.46e4","23990b39.4990e4","33fd9ec6.b3d8a2"],"x":1195,"y":740,"wires":[]},{"id":"bb3514bc.2e01c8","type":"delay","z":"46ad0f90.f2e8f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":560,"wires":[["c7c7cca4.fe62c"]]},{"id":"342b7b5f.f8b064","type":"mqtt out","z":"9d369813.62c968","name":"","topic":"persistContext","qos":"1","retain":"false","broker":"63980a12.cc7494","x":630,"y":1000,"wires":[]},{"id":"aec5c320.4c988","type":"mqtt in","z":"50afdb76.ed9f74","name":"Receive Config Msges","topic":"Config/#","qos":"1","broker":"63980a12.cc7494","x":140,"y":60,"wires":[["a6e1c786.9e91c8"]]},{"id":"a6e1c786.9e91c8","type":"switch","z":"50afdb76.ed9f74","name":"Config Sorter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Config/","vt":"str"}],"checkall":"true","outputs":1,"x":230,"y":260,"wires":[[]]},{"id":"71b4c1fc.838a9","type":"function","z":"9d369813.62c968","name":"PumpName","func":"//var pumpName = msg.payload;\nflow.set(\"pumpName\", msg.payload);\nvar oldRate = global.get(\"Config/\"+msg.payload.toLowerCase()+\"DoseRate\") || 2;\nmsg.payload = oldRate;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["58449b54.0c6974"]]},{"id":"532ea018.eaaa7","type":"OS","z":"1034a905.09a6e7","name":"","x":234,"y":398,"wires":[["e88e647d.dcd658"]]},{"id":"2fd1bb4c.e883d4","type":"Uptime","z":"1034a905.09a6e7","name":"","x":245,"y":353,"wires":[["fc7e8184.3395d"]]},{"id":"6ba63e5.750c0c","type":"Loadavg","z":"1034a905.09a6e7","name":"","x":171,"y":165,"wires":[["50ffa1af.f77c","de40510e.a7efe"]]},{"id":"9fe9d6c8.6bb968","type":"Memory","z":"1034a905.09a6e7","name":"","x":111,"y":531,"wires":[["cdfa052.d12a5f8","d4085887.5b5558","cc4bba07.18b4e8","26b60b65.a56374"]]},{"id":"17104108.7565ef","type":"inject","z":"1034a905.09a6e7","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":94,"y":245,"wires":[["532ea018.eaaa7","2fd1bb4c.e883d4","6ba63e5.750c0c","9fe9d6c8.6bb968"]]},{"id":"50ffa1af.f77c","type":"function","z":"1034a905.09a6e7","name":"","func":"msg.payload = msg.payload.loadavg[0]*100/4;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9498e851.aeb0a8"]]},{"id":"9498e851.aeb0a8","type":"ui_gauge","z":"1034a905.09a6e7","name":"CPU Load 1","group":"4d737da4.6ec1e4","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Load (%)","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":100,"wires":[]},{"id":"cdfa052.d12a5f8","type":"function","z":"1034a905.09a6e7","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":116,"y":699,"wires":[["ed4a017.6217e"]]},{"id":"ed4a017.6217e","type":"ui_gauge","z":"1034a905.09a6e7","name":"Memory Usage","group":"feb08bc8.791bf8","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage (%)","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":703,"wires":[]},{"id":"d4085887.5b5558","type":"function","z":"1034a905.09a6e7","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":118,"y":742,"wires":[["cce9df95.3ea5f"]]},{"id":"cc4bba07.18b4e8","type":"function","z":"1034a905.09a6e7","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":116,"y":788,"wires":[["8dd3612b.40d05"]]},{"id":"cce9df95.3ea5f","type":"ui_text","z":"1034a905.09a6e7","group":"feb08bc8.791bf8","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":299,"y":746,"wires":[]},{"id":"8dd3612b.40d05","type":"ui_text","z":"1034a905.09a6e7","group":"feb08bc8.791bf8","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":303,"y":789,"wires":[]},{"id":"fc7e8184.3395d","type":"function","z":"1034a905.09a6e7","name":"","func":" var millisec = msg.payload.uptime * 1000 || 0;\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        msg.payload = seconds + \" Sec\";\n    } else if (minutes < 60) {\n        msg.payload = minutes + \" Min\";\n    } else if (hours < 24) {\n        msg.payload = hours + \" Hrs\";\n    } else {\n        msg.payload =  days + \" Days\";\n    }\n    \n    //var level = parseInt(msg.payload);\n        if (  days < 1)\n            {\n                msg.color = 'red';\n            }\n        else\n            {\n                msg.color = 'lime';\n            }\n\n\n\n\n\n//msg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":353,"wires":[["a5a27d88.76cf7","4d54abe0.771684"]]},{"id":"a5a27d88.76cf7","type":"ui_text","z":"1034a905.09a6e7","group":"4c8c3ebb.63514","order":1,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":561,"y":352,"wires":[]},{"id":"e88e647d.dcd658","type":"function","z":"1034a905.09a6e7","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":390,"wires":[["cdaf905e.2bffc"]]},{"id":"cdaf905e.2bffc","type":"ui_text","z":"1034a905.09a6e7","group":"4c8c3ebb.63514","order":2,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":573,"y":392,"wires":[]},{"id":"de40510e.a7efe","type":"function","z":"1034a905.09a6e7","name":"","func":"msg.payload = msg.payload.loadavg[0]*100/4;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[[]]},{"id":"26b60b65.a56374","type":"function","z":"1034a905.09a6e7","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":113,"y":660,"wires":[[]]},{"id":"2c2c7fbc.008cd","type":"comment","z":"1034a905.09a6e7","name":"CPU Load","info":"","x":488,"y":57,"wires":[]},{"id":"c8b36577.022818","type":"comment","z":"1034a905.09a6e7","name":"Memory Usage","info":"","x":296,"y":613,"wires":[]},{"id":"e6fcbc8b.72441","type":"comment","z":"1034a905.09a6e7","name":"System Information","info":"","x":456.0000305175781,"y":258.0000228881836,"wires":[]},{"id":"65ff709.4d85b9","type":"exec","z":"1034a905.09a6e7","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":350,"y":900,"wires":[["8d52e8ad.5851a8"],[],[]]},{"id":"8d52e8ad.5851a8","type":"function","z":"1034a905.09a6e7","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":900,"wires":[[]]},{"id":"9d944589.8b58f8","type":"inject","z":"1034a905.09a6e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":150,"y":900,"wires":[[]]},{"id":"127e7d93.4b7f92","type":"inject","z":"1034a905.09a6e7","name":"","topic":"","payload":"","payloadType":"num","repeat":"30","crontab":"","once":true,"x":130,"y":1140,"wires":[["6f92efa3.da719"]]},{"id":"6f92efa3.da719","type":"exec","z":"1034a905.09a6e7","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","name":"getCPUtemp","x":298.6031188964844,"y":1140.4602945872716,"wires":[["d332af08.6cf11"],[],[]]},{"id":"d332af08.6cf11","type":"function","z":"1034a905.09a6e7","name":"CPU Temp Function","func":"//msg.payload = {'d':{'temp': parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'F\\n\",\"\"))}};\nmsg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'F\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":506.19042205810547,"y":1127.7143229075841,"wires":[["5d87ddeb.548744"]]},{"id":"d490511a.59ac5","type":"mqtt out","z":"1034a905.09a6e7","name":"MQTT-CpuTemp","topic":"topic/cpuTemp","qos":"2","retain":"","broker":"63980a12.cc7494","x":920,"y":1120,"wires":[]},{"id":"138a9e31.8aef72","type":"comment","z":"1034a905.09a6e7","name":"Check CPU's Temperature","info":"","x":167.00003051757812,"y":1093.6192539760045,"wires":[]},{"id":"502d3c53.af7044","type":"ui_gauge","z":"1034a905.09a6e7","name":"Guage: CPU Temperature","group":"7bb23b1a.074344","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature [°F]","label":"°F","format":"{{value}}","min":"0","max":"200","colors":["#00b500","#e6e600","#f90404"],"seg1":"","seg2":"","x":910,"y":1240,"wires":[]},{"id":"5d87ddeb.548744","type":"function","z":"1034a905.09a6e7","name":"C to F","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\n    msg.topic=\"Monitor.CPU.Temp\"\n    return msg;","outputs":1,"noerr":0,"x":690,"y":1120,"wires":[["d490511a.59ac5","502d3c53.af7044","e4f1496d.1e9bd8"]]},{"id":"ed1c999a.566098","type":"influxdb out","z":"1034a905.09a6e7","influxdb":"db0b264a.daf448","name":"Monitor.CPU.Temp","measurement":"Monitor.CPU.Temp","x":930,"y":1080,"wires":[]},{"id":"274a7afb.69c9f6","type":"ui_button","z":"1034a905.09a6e7","name":"","group":"4c8c3ebb.63514","order":11,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1320,"wires":[["807e9fcd.a9508"]]},{"id":"807e9fcd.a9508","type":"exec","z":"1034a905.09a6e7","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":570,"y":1320,"wires":[[],[],[]]},{"id":"3cfb2176.6437fe","type":"exec","z":"1034a905.09a6e7","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":379.5,"y":1382.25,"wires":[[],[],[]]},{"id":"c750b9df.bc1168","type":"ui_button","z":"1034a905.09a6e7","name":"","group":"4c8c3ebb.63514","order":13,"width":0,"height":0,"label":"Clear Cache","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":1460,"wires":[["9d19a92.5fae958"]]},{"id":"c9a7b887.32ae08","type":"exec","z":"1034a905.09a6e7","command":"sudo sh -c \"sync; echo 3 > /proc/sys/vm/drop_caches\"","addpay":false,"append":"","useSpawn":"","timer":"","name":"Clear Cache","x":550,"y":1500,"wires":[[],[],[]]},{"id":"3cd4e6af.fca8ba","type":"inject","z":"1034a905.09a6e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":180,"y":1500,"wires":[["c9a7b887.32ae08"]]},{"id":"767cf42d.346efc","type":"ui_text","z":"1034a905.09a6e7","group":"4c8c3ebb.63514","order":10,"width":0,"height":0,"name":"Actions Title","label":" ","format":"Actions","layout":"row-left","x":170,"y":1540,"wires":[]},{"id":"9d19a92.5fae958","type":"ui_toast","z":"1034a905.09a6e7","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":320,"y":1460,"wires":[]},{"id":"56d39826.7e6bd8","type":"function","z":"46ad0f90.f2e8f","name":"Config/ghDoseRate","func":"msg.topic = \"Config/ghDoseRate\";\nmsg.payload = global.get(\"Config/ghDoseRate\");\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":864,"wires":[["2a9c0f4a.debd4"]]},{"id":"2a9c0f4a.debd4","type":"link out","z":"46ad0f90.f2e8f","name":"Config/ghDoseRate","links":["2ea9f03.776521","45f9c881.177458"],"x":1191,"y":864,"wires":[]},{"id":"30f6a7b2.7dd618","type":"function","z":"46ad0f90.f2e8f","name":"Config/ghDoseAmt","func":"msg.topic = \"Config/ghDoseAmt\";\nmsg.payload = global.get(\"Config/ghDoseAmt\");\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":824,"wires":[["3de7db48.c41344"]]},{"id":"3de7db48.c41344","type":"link out","z":"46ad0f90.f2e8f","name":"Config/ghDoseAmt","links":["a41bcab5.d8c9c8","ab94c55e.92b138"],"x":1191,"y":824,"wires":[]},{"id":"e1b1515.7ad10b","type":"exec","z":"8b4de44f.be3818","command":"\"pigs\"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"1","x":501.00000762939453,"y":221.00000381469727,"wires":[["b0203233.2b746","2c3631e7.056ace"],[],[]]},{"id":"b0203233.2b746","type":"function","z":"8b4de44f.be3818","name":"","func":"if(msg.payload.length>0)\n{\nvar x = msg.payload.split(' ').map(function(hex){ return parseInt(hex, 16); });\nvar retval =\"\";\n\nfor (var i = 2; i < 8; i += 1)\n{\n    retval = retval+String.fromCharCode(x[i]);\n}\n\nvar y = parseFloat(retval);\nmsg.payload = y;\nnode.send(msg);\n}","outputs":1,"noerr":0,"x":642.0000648498535,"y":152.49992084503174,"wires":[["14f51f04.9ad431","cfc7d6f1.23c2b8"]]},{"id":"14f51f04.9ad431","type":"debug","z":"8b4de44f.be3818","name":"","active":false,"console":"false","complete":"true","x":741.9000244140625,"y":215.89990520477295,"wires":[]},{"id":"3d249bb.481f764","type":"inject","z":"8b4de44f.be3818","name":"","topic":"","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":true,"x":190,"y":220,"wires":[["cc00dd09.cede1"]]},{"id":"cc00dd09.cede1","type":"trigger","z":"8b4de44f.be3818","op1":" i2cwd 1 0x52","op2":"-x i2crd 1 20","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":345.09998321533203,"y":221.29995727539062,"wires":[["e1b1515.7ad10b"]]},{"id":"2c3631e7.056ace","type":"debug","z":"8b4de44f.be3818","name":"","active":false,"console":"false","complete":"true","x":675.0000114440918,"y":276.00000381469727,"wires":[]},{"id":"7b924fbe.b8cb6","type":"ui_chart","z":"8b4de44f.be3818","name":"","group":"cc8c3a59.7eb668","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1147.10005569458,"y":195.40002346038818,"wires":[["33cbd316.e8bf4c"],[]]},{"id":"cfc7d6f1.23c2b8","type":"smooth","z":"8b4de44f.be3818","name":"","action":"mean","count":"10","round":"2","mult":"single","x":800,"y":140,"wires":[["7b924fbe.b8cb6","c5c19435.c13ed8","d6823698.547708","d754edf4.0e10c","5c36b214.78304c"]]},{"id":"322f9ff0.379ab","type":"inject","z":"8b4de44f.be3818","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":1085.1000595092773,"y":256.2000370025635,"wires":[["7b924fbe.b8cb6"]]},{"id":"d122e814.cdd218","type":"comment","z":"8b4de44f.be3818","name":"PH Sensor","info":"","x":142.0999755859375,"y":134.20000648498535,"wires":[]},{"id":"c5251a2.922c4e8","type":"trigger","z":"8b4de44f.be3818","op1":" i2cwd {{payload}}","op2":"-a i2crd {{payload}} 20","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":492.9999084472656,"y":537.3999824523926,"wires":[["526b57f.ee531a8"]]},{"id":"526b57f.ee531a8","type":"exec","z":"8b4de44f.be3818","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":664.8999710083008,"y":536.1000814437866,"wires":[["ce05206b.85694"],[],[]]},{"id":"ce05206b.85694","type":"function","z":"8b4de44f.be3818","name":"Parse Msg","func":"if (msg.payload.length > 0)\n{\n    //msg.topic = \"sensor/PH\"\n    msg.orig = msg.payload;\n   msg.payload = msg.payload.split(\"\\\\\")[1].substring(4,20);\n    return msg;\n}","outputs":1,"noerr":0,"x":866.9999084472656,"y":528.3000693321228,"wires":[["65e763ad.36ae4c"]]},{"id":"33cbd316.e8bf4c","type":"debug","z":"8b4de44f.be3818","name":"","active":false,"console":"false","complete":"true","x":1350,"y":300,"wires":[]},{"id":"65e763ad.36ae4c","type":"ui_text","z":"8b4de44f.be3818","group":"2795391f.289906","order":2,"width":"0","height":"0","name":"PH Current Value","label":"Current Value","format":"{{msg.payload}}","layout":"row-spread","x":1050.9999694824219,"y":598.3999881744385,"wires":[]},{"id":"4a3e1296.d4493c","type":"ds18b20","z":"32844adc.db94a6","name":"Temp","sensorid":"28-0516a4256bff","timer":"1","x":131.00005531311035,"y":150.0000238418579,"wires":[["cf2d9801.1a4cc8","ba9a65ad.ac7e98","36126e8c.269c32"]]},{"id":"c0f723af.8d341","type":"ui_dropdown","z":"8b4de44f.be3818","name":"PH Commands","label":"PH Commands","place":"","group":"2795391f.289906","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"Status","value":"1 83 116 97 116 117 115 0","type":"str"},{"label":"Info","value":"1 105 0","type":"str"},{"label":"Calibration Settings","value":"1 67 97 108 44 63 0","type":"str"},{"label":"Single Read","value":"1 82 0","type":"str"},{"label":"PH Temp Setting","value":"1 84 44 63 0","type":"str"},{"label":"Slope","value":"1 83 108 111 112 101 44 63 0","type":"str"}],"payload":"","topic":"","x":271.9999542236328,"y":537.0000324249268,"wires":[["c5251a2.922c4e8"]]},{"id":"e7ce0437.5d4588","type":"ui_dropdown","z":"63c5280c.e5f3e8","name":"EC Commands","label":"Pick One","place":"","group":"5daf0236.d97a2c","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"Probe K Value","value":"0 75 44 63","type":"str"},{"label":"Status","value":"0 83 116 97 116 117 115","type":"str"},{"label":"Info","value":"0 105","type":"str"},{"label":"Output Settings","value":"0 79 44 63","type":"str"},{"label":"Single Read","value":"0 82","type":"str"},{"label":"EC Temp Setting","value":"0 84 44 63","type":"str"},{"label":"Calibration Settings","value":"0 67 97 108 44 63 13 10","type":"str"}],"payload":"","topic":"","x":280,"y":720,"wires":[["f7054c2c.8a414"]]},{"id":"f7054c2c.8a414","type":"trigger","z":"63c5280c.e5f3e8","op1":" i2cwd {{payload}}","op2":"-a i2crd {{payload}} 20","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":544.9999313354492,"y":721.7999820709229,"wires":[["12474610.0da45a"]]},{"id":"12474610.0da45a","type":"exec","z":"63c5280c.e5f3e8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"1","x":736.8999767303467,"y":714.5000510215759,"wires":[["be4172b9.d4536"],[],[]]},{"id":"be4172b9.d4536","type":"function","z":"63c5280c.e5f3e8","name":"Parse Msg","func":"if (msg.payload.length > 0)\n{\n    //msg.orig = msg.payload;\n    msg.payload = msg.payload.split(\"\\\\\")[1].substring(4,20);\n    return msg;\n}","outputs":1,"noerr":0,"x":901.9999542236328,"y":711.7000479698181,"wires":[["84a3423a.5c759"]]},{"id":"84a3423a.5c759","type":"ui_text","z":"63c5280c.e5f3e8","group":"5daf0236.d97a2c","order":2,"width":"0","height":"0","name":"EC Current Value","label":"Current Value","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":780,"wires":[]},{"id":"c5c19435.c13ed8","type":"ui_text","z":"8b4de44f.be3818","group":"cc8c3a59.7eb668","order":0,"width":0,"height":0,"name":"","label":"Last Reading","format":"{{msg.payload}}","layout":"row-left","x":996.0000152587891,"y":116.00000190734863,"wires":[]},{"id":"9eb4a034.978bd","type":"debug","z":"63c5280c.e5f3e8","name":"","active":true,"console":"false","complete":"true","x":1190,"y":40,"wires":[]},{"id":"c5ead882.804ca8","type":"catch","z":"63c5280c.e5f3e8","name":"","scope":null,"x":1020,"y":40,"wires":[["9eb4a034.978bd"]]},{"id":"a5d9b2f4.b8783","type":"exec","z":"63c5280c.e5f3e8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":470,"y":240,"wires":[["467c1c11.2c2174","37bc1362.59455c"],["37bc1362.59455c"],["37bc1362.59455c"]]},{"id":"8025f148.efa21","type":"debug","z":"63c5280c.e5f3e8","name":"","active":false,"console":"false","complete":"true","x":710.9000492095947,"y":227.89992713928223,"wires":[]},{"id":"b6e8a406.a3d9e8","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":true,"x":130,"y":240,"wires":[["4eb3fe88.38986"]]},{"id":"467c1c11.2c2174","type":"function","z":"63c5280c.e5f3e8","name":"","func":"if(msg.payload.length>0)\n{\nvar x = msg.payload.split(' ').map(function(hex){ return parseInt(hex, 16); });\nvar retval =\"\";\n\nfor (var i = 2; i < 8; i += 1)\n{\n    retval = retval+String.fromCharCode(x[i]);\n}\n\nvar y = parseFloat(retval);\nmsg.payload = y;\nnode.send(msg);\n}","outputs":1,"noerr":0,"x":609.0000491142273,"y":172.49995040893555,"wires":[["8025f148.efa21","39b42aee.08e586"]]},{"id":"4eb3fe88.38986","type":"trigger","z":"63c5280c.e5f3e8","op1":" i2cwd 0 0x52","op2":"-x i2crd 0 20","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":300,"y":240,"wires":[["a5d9b2f4.b8783"]]},{"id":"37bc1362.59455c","type":"debug","z":"63c5280c.e5f3e8","name":"","active":false,"console":"false","complete":"true","x":680.0000228881836,"y":271.0999050140381,"wires":[]},{"id":"259cd489.55182c","type":"ui_chart","z":"63c5280c.e5f3e8","name":"","group":"2fabc9.39841438","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1143.0002403259277,"y":159.89992141723633,"wires":[[],[]]},{"id":"39b42aee.08e586","type":"smooth","z":"63c5280c.e5f3e8","name":"","action":"mean","count":"10","round":"0","mult":"single","x":760,"y":160,"wires":[["259cd489.55182c","7bde9a50.82ca94","a54fdf14.220a6","67bfb29.7f4d44c","8a5b0b7a.a9a968"]]},{"id":"72ffc2a.c66b13c","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":927.9000244140625,"y":231.89993381500244,"wires":[["259cd489.55182c"]]},{"id":"b120b3d9.3214e","type":"comment","z":"63c5280c.e5f3e8","name":"EC Sensor","info":"","x":120,"y":160,"wires":[]},{"id":"7bde9a50.82ca94","type":"ui_text","z":"63c5280c.e5f3e8","group":"2fabc9.39841438","order":2,"width":0,"height":0,"name":"","label":"Last Reading (μS)","format":"{{msg.payload}}","layout":"row-left","x":990,"y":120,"wires":[]},{"id":"d6b4419f.dd366","type":"catch","z":"8b4de44f.be3818","name":"","scope":null,"x":80,"y":30,"wires":[["7902deed.2da59"]]},{"id":"7902deed.2da59","type":"debug","z":"8b4de44f.be3818","name":"","active":false,"console":"false","complete":"true","x":250,"y":30,"wires":[]},{"id":"73146b33.aa6424","type":"comment","z":"8b4de44f.be3818","name":"PH Commands","info":"","x":160,"y":460,"wires":[]},{"id":"1c9617f7.c6f088","type":"comment","z":"63c5280c.e5f3e8","name":"EC Commands","info":"","x":120,"y":680,"wires":[]},{"id":"53a77225.8fe0bc","type":"comment","z":"63c5280c.e5f3e8","name":"EC Calibration","info":"","x":140,"y":300,"wires":[]},{"id":"7a66b3a1.88b23c","type":"ui_button","z":"63c5280c.e5f3e8","name":"","group":"57e78a36.51e6c4","order":13,"width":"3","height":"1","passthru":false,"label":"Calibrate Dry","color":"","bgcolor":"","icon":"","payload":"i2cwd 0 67 97 108 44 100 114 121 0","payloadType":"str","topic":"","x":220,"y":340,"wires":[["25652c4f.eab754"]]},{"id":"25652c4f.eab754","type":"exec","z":"63c5280c.e5f3e8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":460,"y":340,"wires":[[],[],[]]},{"id":"b141124c.15244","type":"ui_button","z":"63c5280c.e5f3e8","name":"","group":"57e78a36.51e6c4","order":14,"width":"3","height":"1","passthru":false,"label":"Clear Calibration","color":"","bgcolor":"","icon":"","payload":"i2cwd 0 67 97 108 44 99 108 101 97 114 0","payloadType":"str","topic":"","x":240,"y":380,"wires":[["25652c4f.eab754"]]},{"id":"18550543.747e1b","type":"inject","z":"efb006e.4522bf8","name":"Disable Save on Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":190,"y":160,"wires":[["9fea0aa9.1ee118"]]},{"id":"9fea0aa9.1ee118","type":"function","z":"efb006e.4522bf8","name":"Disable Save","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["424d577c.4b7098"]]},{"id":"424d577c.4b7098","type":"ui_button","z":"efb006e.4522bf8","name":"Save","group":"57e78a36.51e6c4","order":12,"width":"2","height":"1","passthru":false,"label":"Save","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"","payloadType":"str","topic":"","x":730,"y":160,"wires":[["8d215842.c930e8","95dae8b7.df1f38","61f00d41.2fddf4"]]},{"id":"acf31009.00da1","type":"ui_text_input","z":"efb006e.4522bf8","name":"Data Input","label":"{{msg.inputlabel}}","group":"57e78a36.51e6c4","order":11,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":570,"y":240,"wires":[["9e9c068e.23ee48"]]},{"id":"9e9c068e.23ee48","type":"function","z":"efb006e.4522bf8","name":"Enable Save ","func":"msg.enabled = true;\nflow.set(\"setting\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["424d577c.4b7098"]]},{"id":"8d215842.c930e8","type":"function","z":"efb006e.4522bf8","name":"Enable Save","func":"msg.enabled = true;\nmsg.payload = \"\";\nmsg.inputlabel = flow.get(\"inputlabel\");\nmsg.command = flow.get(\"command\");\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["acf31009.00da1"]]},{"id":"95dae8b7.df1f38","type":"function","z":"efb006e.4522bf8","name":"Disable Save","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["424d577c.4b7098"]]},{"id":"99963123.3cd5f","type":"exec","z":"efb006e.4522bf8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"1","x":1150,"y":160,"wires":[[],[],[]]},{"id":"61f00d41.2fddf4","type":"function","z":"efb006e.4522bf8","name":"Construct Msg ","func":"var payload = msg.payload;\n\n function string2ASCII(strvar) {\n\tvar j;\n\tvar x=\"\";\n\tfor(j = 0; j < strvar.length; j++) {\n\t    x = x +strvar.charCodeAt(j) + \" \";\n\t}\n\treturn x.trim();\n    }\n\n\nvar setting = flow.get(\"setting\");\nvar command = flow.get(\"command\");\nvar sensorid = flow.get(\"sensorid\");\nvar msg1 = { payload: \"i2cwd \" + sensorid + string2ASCII(command + setting) + \" 0\"};  \n\n\nreturn msg1;","outputs":1,"noerr":0,"x":980,"y":160,"wires":[["99963123.3cd5f"]]},{"id":"b0d0f2b9.1a9c2","type":"comment","z":"efb006e.4522bf8","name":"EC Data Flow","info":"","x":90,"y":100,"wires":[]},{"id":"88bae6e2.354cb8","type":"comment","z":"63c5280c.e5f3e8","name":"EC Settings","info":"","x":110,"y":800,"wires":[]},{"id":"e469de28.ac41b","type":"ui_button","z":"63c5280c.e5f3e8","name":"","group":"5daf0236.d97a2c","order":3,"width":"6","height":"1","passthru":false,"label":"Sleep","color":"","bgcolor":"","icon":"","payload":"i2cwd 0 83 108 101 101 112 0","payloadType":"str","topic":"","x":170,"y":840,"wires":[["1e9a717d.e5d91f"]]},{"id":"1e9a717d.e5d91f","type":"exec","z":"63c5280c.e5f3e8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":430,"y":840,"wires":[[],[],[]]},{"id":"3c3dd403.47013c","type":"ui_button","z":"63c5280c.e5f3e8","name":"","group":"5daf0236.d97a2c","order":4,"width":"3","height":"1","passthru":false,"label":"LED On","color":"","bgcolor":"","icon":"","payload":"i2cwd 0 76 44 49 0","payloadType":"str","topic":"","x":180,"y":880,"wires":[["1e9a717d.e5d91f"]]},{"id":"78327c09.723e04","type":"ui_button","z":"63c5280c.e5f3e8","name":"","group":"5daf0236.d97a2c","order":5,"width":"3","height":"1","passthru":false,"label":"LED Off","color":"","bgcolor":"","icon":"","payload":"i2cwd 0 76 44 48 0","payloadType":"str","topic":"","x":180,"y":920,"wires":[["1e9a717d.e5d91f"]]},{"id":"a7028867.97d218","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":600,"wires":[["748216f4.61ec98"]]},{"id":"748216f4.61ec98","type":"function","z":"63c5280c.e5f3e8","name":"","func":"msg.command = \"Cal,high,\";\nmsg.inputlabel = \"Calibrate High Point\";\nmsg.sensorid = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":600,"wires":[[]]},{"id":"8062eddb.53114","type":"change","z":"efb006e.4522bf8","name":"","rules":[{"t":"set","p":"inputlabel","pt":"flow","to":"inputlabel","tot":"msg"},{"t":"set","p":"command","pt":"flow","to":"command","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"sensorid","pt":"flow","to":"sensorid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[["8d215842.c930e8"]]},{"id":"d71e487d.a04398","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":480,"wires":[["921c5e9a.a9dc6"]]},{"id":"921c5e9a.a9dc6","type":"function","z":"63c5280c.e5f3e8","name":"","func":"msg.command = \"T,\";\nmsg.inputlabel = \"Temp Compensation\";\nmsg.sensorid = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":480,"wires":[[]]},{"id":"4454f6bc.e9cc78","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":440,"wires":[["1193009c.9ab3ef"]]},{"id":"1193009c.9ab3ef","type":"function","z":"63c5280c.e5f3e8","name":"","func":"msg.command = \"K,\";\nmsg.inputlabel = \"Probe K Value\";\nmsg.sensorid = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":440,"wires":[[]]},{"id":"c2484f76.dd3c2","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":560,"wires":[["c950dc0.fe5c42"]]},{"id":"c950dc0.fe5c42","type":"function","z":"63c5280c.e5f3e8","name":"","func":"msg.command = \"Cal,low,\";\nmsg.inputlabel = \"Calibrate Low Point\";\nmsg.sensorid = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":560,"wires":[[]]},{"id":"ad46ca6b.7b0c68","type":"inject","z":"63c5280c.e5f3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":520,"wires":[["c362135b.ad41e"]]},{"id":"c362135b.ad41e","type":"function","z":"63c5280c.e5f3e8","name":"","func":"msg.command = \"Cal,\";\nmsg.inputlabel = \"Calibrate Single Point\";\nmsg.sensorid = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":520,"wires":[[]]},{"id":"ea98bcca.d971f","type":"inject","z":"46ad0f90.f2e8f","name":"EC Probe Setup","topic":"","payload":" i2co 1 0x64 0","payloadType":"str","repeat":"","crontab":"","once":true,"x":194,"y":1019.9999809265137,"wires":[["144ac69b.577cc9"]]},{"id":"144ac69b.577cc9","type":"exec","z":"46ad0f90.f2e8f","command":"\"pigs\"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"1","x":571.0000100135803,"y":1115.3000135421753,"wires":[[],[],[]]},{"id":"97e53556.8a03c8","type":"inject","z":"46ad0f90.f2e8f","name":"PH Probe Setup","topic":"","payload":" i2co 1 0x63 0","payloadType":"str","repeat":"","crontab":"","once":true,"x":237.99999237060547,"y":1112.9999504089355,"wires":[["144ac69b.577cc9"]]},{"id":"30c4618.75edb9e","type":"comment","z":"46ad0f90.f2e8f","name":"Atlas Sensors Startup","info":"0x64 is the EC Sensor and must be first \nfrom left to right and top to bottom\n","x":190,"y":940,"wires":[]},{"id":"5c871a61.8b9774","type":"inject","z":"d2a73b8b.28e658","name":"Disable Save on Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":270,"y":220,"wires":[["4706217b.ecf55"]]},{"id":"4706217b.ecf55","type":"function","z":"d2a73b8b.28e658","name":"Disable Save","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["1e43bc65.891914"]]},{"id":"1e43bc65.891914","type":"ui_button","z":"d2a73b8b.28e658","name":"Save","group":"5ac41d40.b01054","order":12,"width":"2","height":"1","passthru":false,"label":"Save","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"","payloadType":"str","topic":"","x":810,"y":220,"wires":[["5d4f4e71.cccda","4f261ff8.23143","4bfd95f9.e4d06c"]]},{"id":"5ea1fec8.7d283","type":"ui_text_input","z":"d2a73b8b.28e658","name":"Data Input","label":"{{msg.inputlabel}}","group":"5ac41d40.b01054","order":11,"width":"4","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":650,"y":300,"wires":[["11358c60.1229e4"]]},{"id":"11358c60.1229e4","type":"function","z":"d2a73b8b.28e658","name":"Enable Save ","func":"msg.enabled = true;\nflow.set(\"setting\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":300,"wires":[["1e43bc65.891914"]]},{"id":"5d4f4e71.cccda","type":"function","z":"d2a73b8b.28e658","name":"Enable Save","func":"msg.enabled = true;\nmsg.payload = \"\";\nmsg.inputlabel = flow.get(\"inputlabel\");\nmsg.command = flow.get(\"command\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["5ea1fec8.7d283"]]},{"id":"4f261ff8.23143","type":"function","z":"d2a73b8b.28e658","name":"Disable Save","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["1e43bc65.891914"]]},{"id":"b2e5a97e.712188","type":"exec","z":"d2a73b8b.28e658","command":"\"pigs\"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"1","x":1230,"y":220,"wires":[[],[],[]]},{"id":"4bfd95f9.e4d06c","type":"function","z":"d2a73b8b.28e658","name":"Construct Msg ","func":"var payload = msg.payload;\n\n function string2ASCII(strvar) {\n\tvar j;\n\tvar x=\"\";\n\tfor(j = 0; j < strvar.length; j++) {\n\t    x = x +strvar.charCodeAt(j) + \" \";\n\t}\n\treturn x.trim();\n    }\n\n\nvar setting = flow.get(\"setting\");\nvar command = flow.get(\"command\");\nvar sensorid = flow.get(\"sensorid\");\nvar msg1 = { payload: \"i2cwd \" + sensorid + string2ASCII(command + setting) + \" 0\"};  \n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1060,"y":220,"wires":[["b2e5a97e.712188"]]},{"id":"10900cf6.0dd573","type":"comment","z":"d2a73b8b.28e658","name":"PH Calibration","info":"","x":180,"y":160,"wires":[]},{"id":"442db8f9.7a1788","type":"change","z":"d2a73b8b.28e658","name":"","rules":[{"t":"set","p":"inputlabel","pt":"flow","to":"inputlabel","tot":"msg"},{"t":"set","p":"command","pt":"flow","to":"command","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"sensorid","pt":"flow","to":"sensorid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["5d4f4e71.cccda"]]},{"id":"2999e1c8.79ecee","type":"influxdb out","z":"63c5280c.e5f3e8","influxdb":"db0b264a.daf448","name":"SensorReadings","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1202.9999923706055,"y":288,"wires":[]},{"id":"ba5bc1c8.b9704","type":"influxdb out","z":"8b4de44f.be3818","influxdb":"db0b264a.daf448","name":"SensorReadings","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1028.0001068115234,"y":313.0000009536743,"wires":[]},{"id":"ba9a65ad.ac7e98","type":"mqtt out","z":"32844adc.db94a6","name":"Temp C","topic":"Sensor\\TankTempC","qos":"0","retain":"false","broker":"63980a12.cc7494","x":260,"y":500,"wires":[]},{"id":"b7027574.ff8b58","type":"function","z":"63c5280c.e5f3e8","name":"Construct Command","func":"var payload = msg.payload;\n\n function string2ASCII(strvar) {\n\tvar j;\n\tvar x=\"\";\n\tfor(j = 0; j < strvar.length; j++) {\n\t    x = x +strvar.charCodeAt(j) + \" \";\n\t}\n\treturn x.trim();\n    }\n\n\nvar setting = msg.payload.toString();  //flow.get(\"setting\");\nsetting = setting.substring(0,5);\nvar command = \"T,\"; //flow.get(\"command\");\nvar sensorid = \"0\"; //flow.get(\"sensorid\");\nvar msg1 = { payload: \"i2cwd \" + sensorid + string2ASCII(command + setting) + \" 0\"};  \n\n\nreturn msg1;","outputs":1,"noerr":0,"x":556.8125686645508,"y":77.81875991821289,"wires":[["c812d8bc.c55818"]]},{"id":"96f9359a.415f18","type":"mqtt in","z":"63c5280c.e5f3e8","name":"","topic":"Sensor\\TankTempC","qos":"0","broker":"63980a12.cc7494","x":182.11251068115234,"y":77.96875095367432,"wires":[["dea2165a.cdd978"]]},{"id":"c812d8bc.c55818","type":"exec","z":"63c5280c.e5f3e8","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":731.8124923706055,"y":67.81875228881836,"wires":[[],[],[]]},{"id":"14c41c56.fca564","type":"function","z":"8b4de44f.be3818","name":"Construct Command","func":"var payload = msg.payload;\n\n function string2ASCII(strvar) {\n\tvar j;\n\tvar x=\"\";\n\tfor(j = 0; j < strvar.length; j++) {\n\t    x = x +strvar.charCodeAt(j) + \" \";\n\t}\n\treturn x.trim();\n    }\n\n\nvar setting = msg.payload.toString();  //flow.get(\"setting\");\nsetting = substring(setting,0,5);\nvar command = \"T,\"; //flow.get(\"command\");\nvar sensorid = \"1\"; //flow.get(\"sensorid\");\nvar msg1 = { payload: \"i2cwd \" + sensorid + string2ASCII(command + setting) + \" 0\"};  \n\n\nreturn msg1;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["44011993.cd6c98","f5b083f3.ec194"]]},{"id":"a0e53a05.121a18","type":"mqtt in","z":"8b4de44f.be3818","name":"","topic":"Sensor\\TankTempC","qos":"0","broker":"63980a12.cc7494","x":200.99998474121094,"y":353.9687485694885,"wires":[["6d0fcd08.ec3864"]]},{"id":"44011993.cd6c98","type":"exec","z":"8b4de44f.be3818","command":"\"pigs\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"1","x":850,"y":360,"wires":[[],[],[]]},{"id":"65a6c29e.88023c","type":"FSM","z":"7994f3a.ba7940c","name":"Fert Dosing Cycle","topic":"FERTS","initstate":"READY","inittran":"NEXT","entry":true,"exit":true,"tran":false,"rules":[{"n":"DRAIN","c":"NEXT","s":"DRAIN","d":"MACRO","t":"true"},{"n":"READY","c":"NEXT","s":"READY","d":"DRAIN","t":"true"},{"n":"MACRO","c":"NEXT","s":"MACRO","d":"MICRO","t":"true"},{"n":"MICRO","c":"NEXT","s":"MICRO","d":"ALK","t":"true"},{"n":"ALK","c":"NEXT","s":"ALK","d":"GH","t":"true"},{"n":"GH","c":"NEXT","s":"GH","d":"END","t":"true"},{"n":"END","c":"NEXT","s":"END","d":"READY","t":"true"},{"n":"MACRO=>END","c":"HALT","s":"MACRO","d":"END","t":"true"},{"n":"MICRO->END","c":"HALT","s":"MICRO","d":"END","t":"true"},{"n":"MIXER=>END","c":"HALT","s":"MIXER","d":"END","t":"true"},{"n":"GH=>END","c":"HALT","s":"GH","d":"END","t":"true"},{"n":"ALK=>END","c":"HALT","s":"ALK","d":"END","t":"true"},{"n":"DRAIN=>END","c":"HALT","s":"DRAIN","d":"END","t":"true"}],"x":429.00000762939453,"y":181.00000381469727,"wires":[["aeb2ddda.5f08","7609217f.911d"]]},{"id":"bef3ab7c.aa0c88","type":"change","z":"7994f3a.ba7940c","name":"CHANGE","rules":[{"t":"set","p":"topic","pt":"msg","to":"NEXT","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.0000152587891,"y":60.000003814697266,"wires":[["65a6c29e.88023c"]]},{"id":"c34ce6e3.014158","type":"delay","z":"7994f3a.ba7940c","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020.0005645751953,"y":193.00000381469727,"wires":[["bef3ab7c.aa0c88","1a912581.8db81a"]]},{"id":"9ee9c01d.d04c2","type":"comment","z":"7994f3a.ba7940c","name":"Fert Cycle","info":"","x":102.00000762939453,"y":80.00000190734863,"wires":[]},{"id":"a8d2fac3.5c1458","type":"function","z":"7994f3a.ba7940c","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["65a6c29e.88023c"]]},{"id":"95f97139.82d1c","type":"timerswitch","z":"7994f3a.ba7940c","name":"Fert Cycle","ontopic":"NEXT","offtopic":"HALT","onpayload":"true","offpayload":"true","disabled":true,"schedules":[{"on_h":"04","on_m":"03","on_s":"00","off_h":"04","off_m":"45","off_s":"30","valid":true}],"x":130,"y":120,"wires":[["a8d2fac3.5c1458"]]},{"id":"2da86b8a.db9064","type":"function","z":"7994f3a.ba7940c","name":"Build Msg","func":"var orig = msg.payload;\nif ( !orig.startsWith(\"END\")  &&  !orig.startsWith(\"READY\")  )\n{\n    var newmsg = {};\n    var topic = msg.payload.toLowerCase().split(\"_\")[0];\n    var state = msg.payload.indexOf(\"entry\") > 0 ? 'on' : 'off' ;\n    newmsg.orig = msg.payload;\n    newmsg.topic = \"relays/input/\" + topic;\n    newmsg.payload = state;\n    var dt = new Date();\n    newmsg.time = dt.getSeconds() + \":\" + dt.getMilliseconds();\n    var secs =0; \n    \n    if (state==\"on\")\n    {\n       // secs =4200; \n        \n        switch (topic) {\n            case \"mixer\":\n            case \"ato\":\n                secs=3000;\n                break; \n            case \"drain\":\n                secs = Math.round(18 / 0.0583 * 1000); //13 qts\n                break;\n            default: \n              var rate = global.get(\"Config/\" + topic + \"DoseRate\");\n              var amt =  global.get(\"Config/\" + topic + \"DoseAmt\");\n              secs = Math.round(amt / rate * 1000);\n              //secs = 4000;\n        }\n    }\n    else\n    {\n        newmsg.reset = true;\n    }\n    newmsg.delay = secs;\n     \n    node.send(newmsg);\n}","outputs":1,"noerr":0,"x":736.0000152587891,"y":242.00004386901855,"wires":[["c34ce6e3.014158","784b05f5.69196c","46c9d390.a3342c","e4e41e26.a191c"]]},{"id":"7609217f.911d","type":"switch","z":"7994f3a.ba7940c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"END_entry","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":616.0000267028809,"y":180.00000286102295,"wires":[["f313ebd.0ea4018","bef3ab7c.aa0c88"],["2da86b8a.db9064"]]},{"id":"f313ebd.0ea4018","type":"change","z":"7994f3a.ba7940c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["c34ce6e3.014158"]]},{"id":"fa5f1edf.eff17","type":"mqtt out","z":"7994f3a.ba7940c","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":1410,"y":310,"wires":[]},{"id":"f60e6a6b.ee5cc8","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":803.0000152587891,"y":199.0000057220459,"wires":[]},{"id":"87722e84.d74aa","type":"file in","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/.node-red/global.json","format":"utf8","sendError":true,"x":390,"y":200,"wires":[["bd36807e.22dd6"]]},{"id":"5a6a0045.13c8e","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":801.0000152587891,"y":240.00000953674316,"wires":[]},{"id":"9c409f68.7def7","type":"file in","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/.node-red/settings.js","format":"utf8","sendError":true,"x":390,"y":240,"wires":[["af0552cd.0ca36"]]},{"id":"52d6d04c.e8b19","type":"ui_button","z":"7994f3a.ba7940c","name":"","group":"c13c6b1f.1a7918","order":1,"width":"3","height":"1","passthru":false,"label":"Manual STOP","color":"","bgcolor":"red","icon":"","payload":"true","payloadType":"bool","topic":"HALT","x":132,"y":300,"wires":[["65a6c29e.88023c","1a045de0.1bc712"]]},{"id":"dea2165a.cdd978","type":"rbe","z":"63c5280c.e5f3e8","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","x":371.16674995422363,"y":81.00000953674316,"wires":[["b7027574.ff8b58"]]},{"id":"6d0fcd08.ec3864","type":"rbe","z":"8b4de44f.be3818","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","x":417.1666564941406,"y":355.00000762939453,"wires":[["14c41c56.fca564"]]},{"id":"39b17f3e.5d3cf","type":"inject","z":"7994f3a.ba7940c","name":"","topic":"NEXT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":122.16667175292969,"y":250.8666763305664,"wires":[["65a6c29e.88023c"]]},{"id":"d5532444.c21d38","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/maxTemp","label":"Max Temp","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/maxTemp","x":535.9332885742188,"y":51.93333053588867,"wires":[["17c4ae6d.2330e2"]]},{"id":"17c4ae6d.2330e2","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/maxTemp","func":"global.set('Config/maxTemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830.9332885742188,"y":50.93333053588867,"wires":[["b6aa4635.cbe288"]]},{"id":"bcdd2ee4.3554f","type":"link in","z":"50afdb76.ed9f74","name":"Config/maxTemp","links":["2bea0eef.912692"],"x":380.93328857421875,"y":51.93333053588867,"wires":[["d5532444.c21d38"]]},{"id":"a2718bf5.fb3cf8","type":"link in","z":"50afdb76.ed9f74","name":"Config/minTemp","links":["a5d12279.df46d"],"x":380.93328857421875,"y":91.93333053588867,"wires":[["b4191e1d.bf87e"]]},{"id":"2303fe86.4459e2","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/minTemp","func":"\nglobal.set('Config/minTemp',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":835.9332885742188,"y":91.93333053588867,"wires":[["b6aa4635.cbe288"]]},{"id":"b4191e1d.bf87e","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/minTemp","label":"Min Temp","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/minTemp","x":525.9332885742188,"y":91.93333053588867,"wires":[["2303fe86.4459e2"]]},{"id":"b6aa4635.cbe288","type":"mqtt out","z":"50afdb76.ed9f74","name":"persistContext","topic":"persistContext","qos":"1","retain":"false","broker":"63980a12.cc7494","x":1225.9332885742188,"y":131.93333053588867,"wires":[]},{"id":"ed8acbcd.e5dd48","type":"link in","z":"50afdb76.ed9f74","name":"Config/minWaterlevel","links":["752185f1.3e997c"],"x":380.93328857421875,"y":131.93333053588867,"wires":[["72c037e.6c8e2c8"]]},{"id":"369b83fe.847a2c","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/minWaterLevel","func":"\nglobal.set('Config/minWaterLevel',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":850.9333038330078,"y":134.9333324432373,"wires":[["b6aa4635.cbe288"]]},{"id":"72c037e.6c8e2c8","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/minWaterLevel","label":"Min Water Level","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/minWaterLevel","x":545.9332885742188,"y":131.93333053588867,"wires":[["369b83fe.847a2c"]]},{"id":"fee7f958.89ce68","type":"link in","z":"50afdb76.ed9f74","name":"Config/maxWaterlevel","links":["e0ed8577.bf9788"],"x":380.93328857421875,"y":171.93333053588867,"wires":[["ec851ea7.14c27"]]},{"id":"be4cf26e.010d1","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/maxWaterLevel","func":"\nglobal.set('Config/maxWaterLevel',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":855.9332885742188,"y":171.93333053588867,"wires":[["b6aa4635.cbe288"]]},{"id":"ec851ea7.14c27","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/maxWaterLevel","label":"Max Water Level","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/maxWaterLevel","x":545.9332885742188,"y":171.93333053588867,"wires":[["be4cf26e.010d1"]]},{"id":"19ffe864.09c898","type":"link in","z":"50afdb76.ed9f74","name":"Config/macroDoseRate","links":["ab91260d.0d8b28"],"x":380.93328857421875,"y":211.93333053588867,"wires":[["5101ee0f.6ee69"]]},{"id":"61d7ba87.dca264","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/macroDoseRate","func":"\nglobal.set('Config/macroDoseRate',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":855.9332885742188,"y":211.93333053588867,"wires":[["b6aa4635.cbe288"]]},{"id":"5101ee0f.6ee69","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/macroDoseRate","label":"Macro Dose Rate ( ml/s )","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/macroDoseRate","x":555.9332885742188,"y":211.93333053588867,"wires":[["61d7ba87.dca264"]]},{"id":"32d26d4.c6e1b92","type":"link in","z":"50afdb76.ed9f74","name":"Config/microDoseRate","links":["d9b3fe1e.10d8b"],"x":380.93328857421875,"y":251.93333053588867,"wires":[["bb456864.e0dce8"]]},{"id":"8b43be3d.6f051","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/microDoseRate","func":"\nglobal.set('Config/microDoseRate',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":845.9332885742188,"y":251.93333053588867,"wires":[["b6aa4635.cbe288"]]},{"id":"bb456864.e0dce8","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/microDoseRate","label":"Micro Dose Rate (ml/s)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/microDoseRate","x":555.9332885742188,"y":251.93333053588867,"wires":[["8b43be3d.6f051"]]},{"id":"273c4c0f.659904","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/macroDoseAmt","func":"\nglobal.set('Config/macroDoseAmt',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":855.9332885742188,"y":291.9333305358887,"wires":[["b6aa4635.cbe288"]]},{"id":"6b8ad9fc.101768","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/macroDoseAmt","label":"Macro Dose Amount (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/macroDoseAmt","x":555.9332885742188,"y":291.9333305358887,"wires":[["273c4c0f.659904"]]},{"id":"3b5be9ef.b016a6","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/microDoseAmt","func":"\nglobal.set('Config/microDoseAmt',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":845.9332885742188,"y":331.9333305358887,"wires":[["b6aa4635.cbe288"]]},{"id":"8a5a46d.556e7b8","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/microDoseAmt","label":"Micro Dose Amount (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/microDoseAmt","x":555.9332885742188,"y":331.9333305358887,"wires":[["3b5be9ef.b016a6"]]},{"id":"33fd9ec6.b3d8a2","type":"link in","z":"50afdb76.ed9f74","name":"Config/macroDoseAmt","links":["5c054274.ad170c"],"x":380.93328857421875,"y":291.9333305358887,"wires":[["6b8ad9fc.101768"]]},{"id":"851bac71.92c1","type":"link in","z":"50afdb76.ed9f74","name":"Config/microDoseAmt","links":["7b971d44.038c64"],"x":380.93328857421875,"y":331.9333305358887,"wires":[["8a5a46d.556e7b8"]]},{"id":"32eb53d.7d114ac","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/ghDoseAmt","func":"\nglobal.set('Config/ghDoseAmt',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":841.9332885742188,"y":373.9333305358887,"wires":[["b6aa4635.cbe288"]]},{"id":"a589c048.8844a","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/ghDoseAmt","label":"GH Dose Amount (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/ghDoseAmt","x":541.9332885742188,"y":373.9333305358887,"wires":[["32eb53d.7d114ac"]]},{"id":"a6352c91.7139a","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/ghDoseRate","func":"\nglobal.set('Config/ghDoseRate',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":831.9332885742188,"y":413.9333305358887,"wires":[["b6aa4635.cbe288"]]},{"id":"ab94c55e.92b138","type":"link in","z":"50afdb76.ed9f74","name":"Config/ghDoseAmt","links":["3de7db48.c41344"],"x":376.93328857421875,"y":373.9333305358887,"wires":[["a589c048.8844a"]]},{"id":"45f9c881.177458","type":"link in","z":"50afdb76.ed9f74","name":"Config/ghDoseRate","links":["2a9c0f4a.debd4"],"x":376.93328857421875,"y":413.9333305358887,"wires":[["b9e79ec6.85974"]]},{"id":"b9e79ec6.85974","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/ghDoseRate","label":"GH Dose Rate (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/ghDoseRate","x":537.1000366210938,"y":417.4001064300537,"wires":[["a6352c91.7139a"]]},{"id":"c801947b.e672b8","type":"ui_chart","z":"7994f3a.ba7940c","name":"","group":"d65fa06a.d9342","order":1,"width":"0","height":"0","label":"ml Remaining","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1210,"y":900,"wires":[["dbcaf40f.426f98","7995caf4.11a004"],[]]},{"id":"dbcaf40f.426f98","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":1280,"y":700,"wires":[]},{"id":"819ca2fa.e5553","type":"inject","z":"7994f3a.ba7940c","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":977.1666984558105,"y":836.2667183876038,"wires":[["c801947b.e672b8"]]},{"id":"7995caf4.11a004","type":"function","z":"7994f3a.ba7940c","name":"","func":"global.set(\"DosesRemaining\",msg.payload);\nvar doses = msg.payload;\nmsg.topic = \"DosesRemaining\";\nmsg.payload = doses;\nmsg.doses = doses;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1400,"y":900,"wires":[["1e38a3e7.5c1ffc"]]},{"id":"1e38a3e7.5c1ffc","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":1390,"y":810,"wires":[]},{"id":"8c0e24b3.144488","type":"mqtt out","z":"7994f3a.ba7940c","name":"dose/container/+","topic":"","qos":"1","retain":"true","broker":"63980a12.cc7494","x":1400,"y":420,"wires":[]},{"id":"a4675dbe.7751a","type":"ui_text_input","z":"7994f3a.ba7940c","name":"GH Total Remaining","label":"GH Total Remaining","group":"d65fa06a.d9342","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/gh","x":625.9999237060547,"y":917.0000419616699,"wires":[["4d21ddd8.6dbc54","2ae2013e.22790e","adb439e4.6ac168"]]},{"id":"3a911a8e.9b3146","type":"mqtt in","z":"7994f3a.ba7940c","name":"dose/container/+","topic":"dose/container/+","qos":"1","broker":"63980a12.cc7494","x":200.9999237060547,"y":903.0000419616699,"wires":[["86d7ca99.f18a98","be1975d1.a4e3b8"]]},{"id":"86d7ca99.f18a98","type":"switch","z":"7994f3a.ba7940c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/macro","vt":"str"},{"t":"cont","v":"/micro","vt":"str"},{"t":"cont","v":"/gh","vt":"str"},{"t":"cont","v":"/alk","vt":"str"}],"checkall":"true","outputs":4,"x":382.9998779296875,"y":907.0000648498535,"wires":[["70cee3d8.2ded3c"],["9519c682.a682d8"],["a4675dbe.7751a"],["24529822.a30fb8"]],"outputLabels":["macro","micro","gh",""]},{"id":"eb2e5193.684cc","type":"ui_button","z":"1034a905.09a6e7","name":"","group":"4c8c3ebb.63514","order":12,"width":0,"height":0,"passthru":false,"label":"Restart Grafana","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":166,"y":1638,"wires":[["e7897a94.0c6a88"]]},{"id":"e7897a94.0c6a88","type":"exec","z":"1034a905.09a6e7","command":"sudo systemctl restart grafana","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Shutdown","x":405.5,"y":1640.25,"wires":[[],[],[]]},{"id":"9519c682.a682d8","type":"ui_text_input","z":"7994f3a.ba7940c","name":"Micro Total Remaining","label":"Micro Total Remaining","group":"d65fa06a.d9342","order":3,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/micro","x":618.8124046325684,"y":880.8188133239746,"wires":[["4d21ddd8.6dbc54","2ae2013e.22790e","3d9ab388.589a6c"]]},{"id":"70cee3d8.2ded3c","type":"ui_text_input","z":"7994f3a.ba7940c","name":"Macro Total Remaining","label":"Macro Total Remaining","group":"d65fa06a.d9342","order":2,"width":"3","height":"1","passthru":false,"mode":"text","delay":"300","topic":"dose/container/macro","x":615.8123970031738,"y":838.8188405036926,"wires":[["4d21ddd8.6dbc54","2ae2013e.22790e","8e99b8b1.292778"]]},{"id":"24529822.a30fb8","type":"ui_text_input","z":"7994f3a.ba7940c","name":"ALK Total Remaining","label":"ALK Total Remaining","group":"d65fa06a.d9342","order":4,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/alk","x":621.812442779541,"y":956.0187759399414,"wires":[["4d21ddd8.6dbc54","2ae2013e.22790e","79f5abdb.e08294"]]},{"id":"462d3a96.eca294","type":"function","z":"46ad0f90.f2e8f","name":"Config/alkDoseRate","func":"msg.topic = \"Config/alkDoseRate\";\nmsg.payload = global.get(\"Config/alkDoseRate\");\nreturn msg;","outputs":1,"noerr":0,"x":946.8125,"y":948.0187377929688,"wires":[["77ef8bcc.c52b74"]]},{"id":"77ef8bcc.c52b74","type":"link out","z":"46ad0f90.f2e8f","name":"Config/alkDoseRate","links":["7322f2b8.a8f27c"],"x":1181.8125,"y":948.0187377929688,"wires":[]},{"id":"582799c9.a1bcd8","type":"function","z":"46ad0f90.f2e8f","name":"Config/alkDoseAmt","func":"msg.topic = \"Config/alkDoseAmt\";\nmsg.payload = global.get(\"Config/alkDoseAmt\");\nreturn msg;","outputs":1,"noerr":0,"x":936.8125,"y":908.0187377929688,"wires":[["106a8c58.d5a884"]]},{"id":"106a8c58.d5a884","type":"link out","z":"46ad0f90.f2e8f","name":"Config/alkDoseAmt","links":["615150f9.ede0a"],"x":1181.8125,"y":908.0187377929688,"wires":[]},{"id":"9bc3c9be.17ce78","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/alkDoseAmt","func":"\nglobal.set('Config/alkDoseAmt',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":832,"y":466.8187561035156,"wires":[["b6aa4635.cbe288"]]},{"id":"979d6112.62f61","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/alkDoseAmt","label":"ALK Dose Amount (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/alkDoseAmt","x":532,"y":466.8187561035156,"wires":[["9bc3c9be.17ce78"]]},{"id":"64528158.17381","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/alkDoseRate","func":"\nglobal.set('Config/alkDoseRate',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":822,"y":506.8187561035156,"wires":[["b6aa4635.cbe288"]]},{"id":"615150f9.ede0a","type":"link in","z":"50afdb76.ed9f74","name":"Config/alkDoseAmt","links":["106a8c58.d5a884"],"x":367,"y":466.8187561035156,"wires":[["979d6112.62f61"]]},{"id":"7322f2b8.a8f27c","type":"link in","z":"50afdb76.ed9f74","name":"Config/alkDoseRate","links":["77ef8bcc.c52b74"],"x":367,"y":506.8187561035156,"wires":[["cd23df.c07f6c2"]]},{"id":"cd23df.c07f6c2","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/alkDoseRate","label":"ALK Dose Rate (ml)","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/alkDoseRate","x":537.166748046875,"y":510.28553199768066,"wires":[["64528158.17381"]]},{"id":"f5b083f3.ec194","type":"debug","z":"8b4de44f.be3818","name":"","active":false,"console":"false","complete":"true","x":840.4998874664307,"y":428.79997539520264,"wires":[]},{"id":"af6ed196.ee0f1","type":"function","z":"7994f3a.ba7940c","name":"Chart","func":"var gh = global.get('doseGH') || 1000;\nvar macro = global.get('doseMacro') || 1000;\nvar micro = global.get('doseMicro') || 1000;\nvar alk = global.get('doseAlk') || 1000;\n\nvar topic = msg.topic.split(\"\\/\")[2];\n\nif (topic == \"gh\")\n    {\n        gh = gh - 160;\n        global.set(\"doseGH\", gh);\n        msg.dose = 160;\n        msg.remainingdays = gh/160;\n        msg.payload = gh;\n       \n    }\nif (topic == \"macro\")\n    {\n        macro = macro - 15;\n        global.set(\"doseMacro\", macro);\n        msg.dose = 15;\n        msg.remainingdays = macro/15;\n        msg.payload = macro;\n    }\nif (topic == \"micro\")\n    {\n        micro = micro - 15;\n        global.set(\"doseMicro\", micro);\n        msg.dose = 15;\n        msg.remainingdays = micro/15;\n        msg.payload = micro;\n    }\nif (topic == \"alk\")\n    {\n        alk = alk - 15;\n        global.set(\"doseAlk\", alk);\n        msg.dose = 15;\n        msg.remainingdays = alk/15;\n        msg.payload = alk;\n    }    \n    \n\nmsg.topic = \"dose/container/\" + topic;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1185.812587738037,"y":421.0184392929077,"wires":[["3783b391.0d29ec","8c0e24b3.144488"]]},{"id":"be1975d1.a4e3b8","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":378.50622177124023,"y":964.6000423431396,"wires":[]},{"id":"4d21ddd8.6dbc54","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":880,"y":740,"wires":[]},{"id":"2825a469.9c15cc","type":"function","z":"829e5c6f.d86b7","name":"Split msgs","func":"var level =  msg.level;\nvar dimlevel =  msg.level === 0 ? msg.level : msg.level - 10;\n\nmsg.channel = 0;\nnode.send(msg);\nmsg.channel = 1;\nmsg.level = dimlevel;\nnode.send(msg);\nmsg.channel = 2;\nmsg.level = level;\nnode.send(msg);\nmsg.channel = 3;\nmsg.level = dimlevel;\nnode.send(msg);\n","outputs":1,"noerr":0,"x":701.9333229064941,"y":371.0001049041748,"wires":[["98df78af.ab9c68"]]},{"id":"98df78af.ab9c68","type":"switch","z":"829e5c6f.d86b7","name":"","property":"channel","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":4,"x":386.5273094177246,"y":533.1812973022461,"wires":[["35816e8d.6510e2"],["4cb15162.6fa9e"],["d9321388.e4b4c"],["1f7a90e9.728f3f"]]},{"id":"35816e8d.6510e2","type":"ui_slider","z":"829e5c6f.d86b7","name":"pwm/led1","label":"LED 1","group":"6d6f903b.6fd38","order":1,"width":0,"height":0,"passthru":true,"topic":"pwm/led1","min":0,"max":"100","step":1,"x":630,"y":470,"wires":[["856adef3.c616"]]},{"id":"4cb15162.6fa9e","type":"ui_slider","z":"829e5c6f.d86b7","name":"pwm/led2","label":"LED 2","group":"6d6f903b.6fd38","order":2,"width":0,"height":0,"passthru":true,"topic":"pwm/led2","min":0,"max":"100","step":1,"x":630,"y":510,"wires":[["5a6475e4.3b3a4c"]]},{"id":"d9321388.e4b4c","type":"ui_slider","z":"829e5c6f.d86b7","name":"pwm/led3","label":"LED 3","group":"6d6f903b.6fd38","order":3,"width":0,"height":0,"passthru":true,"topic":"pwm/led3","min":0,"max":"100","step":1,"x":630,"y":550,"wires":[["5fe64ef4.1983a"]]},{"id":"1f7a90e9.728f3f","type":"ui_slider","z":"829e5c6f.d86b7","name":"pwm/led4","label":"LED 4","group":"6d6f903b.6fd38","order":4,"width":0,"height":0,"passthru":true,"topic":"pwm/led4","min":0,"max":"100","step":1,"x":640,"y":590,"wires":[["7eb5056c.299a0c"]]},{"id":"7eb5056c.299a0c","type":"change","z":"829e5c6f.d86b7","name":"0","rules":[{"t":"set","p":"channel","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":470,"wires":[["8741630.9e6aca","a09b65c5.f07218"]]},{"id":"5a6475e4.3b3a4c","type":"change","z":"829e5c6f.d86b7","name":"1","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":510,"wires":[["8741630.9e6aca","a09b65c5.f07218"]]},{"id":"5fe64ef4.1983a","type":"change","z":"829e5c6f.d86b7","name":"2","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":550,"wires":[["8741630.9e6aca","a09b65c5.f07218"]]},{"id":"856adef3.c616","type":"change","z":"829e5c6f.d86b7","name":"3","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":590,"wires":[["8741630.9e6aca","a09b65c5.f07218"]]},{"id":"18ffaaea.162d65","type":"ui_button","z":"829e5c6f.d86b7","name":"","group":"6d6f903b.6fd38","order":6,"width":"3","height":"1","passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":90,"y":340,"wires":[["4080d67c.5669d8"]]},{"id":"11779400.f4d02c","type":"ui_button","z":"829e5c6f.d86b7","name":"","group":"6d6f903b.6fd38","order":7,"width":"3","height":"1","passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":142.4272108078003,"y":417.38128423690796,"wires":[["4080d67c.5669d8"]]},{"id":"4080d67c.5669d8","type":"ui_slider","z":"829e5c6f.d86b7","name":"All LEDs","label":"All LEDs","group":"6d6f903b.6fd38","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":409.4272232055664,"y":416.3813090324402,"wires":[["2825a469.9c15cc"]]},{"id":"3a978b3b.a6bb74","type":"inject","z":"829e5c6f.d86b7","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":124.00002670288086,"y":122.99999856948853,"wires":[["acdf876f.af1198"]]},{"id":"bb9f880c.45fe68","type":"ui_chart","z":"829e5c6f.d86b7","name":"","group":"bcd3d703.86cfc8","order":0,"width":"12","height":"6","label":"Curve Range","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1230.3001098632812,"y":349.53331661224365,"wires":[[],[]]},{"id":"ee0ce522.a443e8","type":"inject","z":"829e5c6f.d86b7","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":993.3002510070801,"y":254.0667109489441,"wires":[["bb9f880c.45fe68","a91a811c.1aa2a"]]},{"id":"a91a811c.1aa2a","type":"ui_text","z":"829e5c6f.d86b7","group":"bcd3d703.86cfc8","order":0,"width":0,"height":0,"name":"","label":"Curve Output","format":"{{msg.payload}}","layout":"row-spread","x":1225.2999153137207,"y":178.5333309173584,"wires":[]},{"id":"a426abf2.19df48","type":"curve","z":"829e5c6f.d86b7","fexpression":"4.5*sin(2x-1.5)+4.5","valuex":"payload","outputtype":"float","name":"4.5*sin(2x-1.5)+4.5","topic":"","x":790,"y":130,"wires":[["757675b3.b3b54c","f16de92d.8c66a8"]]},{"id":"acdf876f.af1198","type":"function","z":"829e5c6f.d86b7","name":"Calc minutes ","func":"var msecPerMinute = 1000 * 60;  \nvar msecPerHour = msecPerMinute * 60;  \nvar msecPerDay = msecPerHour * 24;  \n\nvar date = new Date();  \nvar d = new Date();\nd.setHours(0, 0, 0, 0); \nvar interval = +date- +d;\n\n// Calculate the hours, minutes, and seconds.  \n//var hours = Math.floor(interval / msecPerHour );  \n//interval = interval - (hours * msecPerHour );  \n\n//var minutes = Math.floor(interval / msecPerMinute );  \n//interval = interval - (minutes * msecPerMinute );\n\nvar mins = date.getHours()*60 + date.getMinutes();\n\nmsg.payload = mins;\nreturn msg;","outputs":1,"noerr":0,"x":296.29978942871094,"y":122.86632537841797,"wires":[["ef5f2ff9.6c1a3","b9fc9df9.cf983"]]},{"id":"ef5f2ff9.6c1a3","type":"range","z":"829e5c6f.d86b7","minin":"440","maxin":"1260","minout":"0","maxout":"3.1","action":"clamp","round":false,"name":"Range 9am-9pm by minutes","x":527.4998321533203,"y":123.19973993301392,"wires":[["a426abf2.19df48","1073a83.4931258"]]},{"id":"1073a83.4931258","type":"ui_text","z":"829e5c6f.d86b7","group":"bcd3d703.86cfc8","order":0,"width":0,"height":0,"name":"","label":"Curve Input","format":"{{msg.payload}}","layout":"row-spread","x":799.9999847412109,"y":34.00001907348633,"wires":[]},{"id":"36126e8c.269c32","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"true","x":290,"y":240,"wires":[]},{"id":"192b51c8.469e0e","type":"inject","z":"32844adc.db94a6","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":325.30012702941895,"y":66.53343391418457,"wires":[["8b2c888e.6d8758"]]},{"id":"d6823698.547708","type":"mqtt out","z":"8b4de44f.be3818","name":"","topic":"Sensor/PH","qos":"","retain":"","broker":"63980a12.cc7494","x":1283.9000244140625,"y":152.40002059936523,"wires":[]},{"id":"757675b3.b3b54c","type":"function","z":"829e5c6f.d86b7","name":"Clip to 0 - 100","func":"var level = msg.payload;\nlevel = level * 15;\n\nif (level > 100)\n{\n    level = 100;\n}\nif (level < 2) {\n    level = 0;\n}\nmsg.payload = level;\nreturn msg;","outputs":1,"noerr":0,"x":748.1000366210938,"y":262.3999938964844,"wires":[["2825a469.9c15cc","bb9f880c.45fe68","6119b6d9.8b1178"]]},{"id":"8741630.9e6aca","type":"PCA9685 out","z":"829e5c6f.d86b7","name":"","pca9685":"c68714e7.e47ea8","channel":"","payload":"","unit":"percent","onStep":"0","x":1350,"y":560,"wires":[]},{"id":"bd36807e.22dd6","type":"function","z":"46ad0f90.f2e8f","name":"Set Filename","func":"msg.filename = \"/home/pi/usbdrv/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_global.js\";\nreturn msg;\n","outputs":1,"noerr":0,"x":626.9999389648438,"y":197.0000123977661,"wires":[["f60e6a6b.ee5cc8"]]},{"id":"af0552cd.0ca36","type":"function","z":"46ad0f90.f2e8f","name":"Set Filename","func":"msg.filename = \"/home/pi/usbdrv/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_settings.js\";\nreturn msg;\n","outputs":1,"noerr":0,"x":626.9999389648438,"y":243.99998474121094,"wires":[["5a6a0045.13c8e"]]},{"id":"d754edf4.0e10c","type":"function","z":"8b4de44f.be3818","name":"InfluxDB Tags","func":"var origPayload = msg.payload;\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"ph\",\n    type:\"smooth\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":924.1666259765625,"y":214.8888921737671,"wires":[["ba5bc1c8.b9704"]]},{"id":"a54fdf14.220a6","type":"function","z":"63c5280c.e5f3e8","name":"InfluxDB Tags","func":"var origPayload = msg.payload;\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"ec\",\n    type:\"smooth\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":290,"wires":[["2999e1c8.79ecee"]]},{"id":"29398a10.2fbed6","type":"function","z":"32844adc.db94a6","name":"InfluxDB Tags","func":"var origPayload = msg.payload;\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"temperature\",\n    type:\"tank\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["4a0a42cc.e7050c","ad9467e3.bf9498"]]},{"id":"67bfb29.7f4d44c","type":"debug","z":"63c5280c.e5f3e8","name":"","active":false,"console":"false","complete":"true","x":912.9999465942383,"y":190.99999141693115,"wires":[]},{"id":"a09b65c5.f07218","type":"function","z":"829e5c6f.d86b7","name":"InfluxDB Tags","func":"var origPayload = msg.payload;\nvar topic = msg.topic.split(\"/\");\nmsg.measurement = \"lights\";\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    id:topic[1]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":660,"wires":[["74a03424.a10aec"]]},{"id":"74a03424.a10aec","type":"influxdb out","z":"829e5c6f.d86b7","influxdb":"db0b264a.daf448","name":"lights","measurement":"","precision":"","retentionPolicy":"","x":1560,"y":810,"wires":[]},{"id":"8b1c5d19.538c4","type":"catch","z":"829e5c6f.d86b7","name":"","scope":null,"x":1116.9186706542969,"y":38.70624542236328,"wires":[["d8be16fa.016238"]]},{"id":"d8be16fa.016238","type":"debug","z":"829e5c6f.d86b7","name":"","active":false,"console":"false","complete":"true","x":1322.9124450683594,"y":49.787498474121094,"wires":[]},{"id":"36b6ceb5.b2abf2","type":"i2c in","z":"c83a711d.e09dc","name":"Read","address":"79","command":"1","count":"2","x":240,"y":200,"wires":[["d9f385fe.206728","ad186edf.e5a68"]]},{"id":"152ec641.fc741a","type":"inject","z":"c83a711d.e09dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":120,"y":150,"wires":[["36b6ceb5.b2abf2"]]},{"id":"d9f385fe.206728","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":510,"y":90,"wires":[]},{"id":"db12781a.8c0618","type":"mqtt out","z":"c83a711d.e09dc","name":"","topic":"Sensor/WaterLevel","qos":"","retain":"","broker":"63980a12.cc7494","x":1290,"y":260,"wires":[]},{"id":"db9a21ac.785ff","type":"catch","z":"c83a711d.e09dc","name":"","scope":null,"x":126.49985122680664,"y":60.00000858306885,"wires":[["d0163ba6.a95288"]]},{"id":"d0163ba6.a95288","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":309.49985122680664,"y":59.00000858306885,"wires":[]},{"id":"5669ad49.76faf4","type":"function","z":"c83a711d.e09dc","name":"Responsive Read","func":"//\n// scroll to bottom to see responsiveAnalogRead() function\n//\n\n// consts\nvar ANALOG_RESOLUTION = 1024;\nvar globalSnap = 0;\nvar responsiveValue = 0;\n\n//\n// consts\n//\n\nfunction millis () {\n  var d = new Date();\n  return d.getTime(); \n}\n\n\n\n// affects the curve of movement amount > snap amount\n// smaller amounts like 0.001 make it ease slower\n// larger amounts like 0.1 make it less smooth\nvar SNAP_MULTIPLIER = 0.005;\n\n// enable sleep, so tiny movements of responsiveValue are ignored\n// good for when you want to limit how often responsiveValue updates\n// setting sleep to false means that responsiveValue will ease into position\nvar SLEEP_ENABLE = true;\n\n// how much 'movement' must take place to wake up*\n// sleeping makes it harder to wake up. The result is that a nudge is needed to get responsiveAnalogRead to change values if it has been asleep\nvar ACTIVITY_THRESHOLD = 4;\n\n// enable edge snapping, which will pull values close to either end of the spectrum toward the edge when sleep is enabled. \n// It makes it possible for sleep enabled values to reach either end, without it sleep may kick in too early and the output \n// value may not be able to be pulled closer to the edges\nvar EDGE_SNAP_ENABLE = true;\n\n//\n// vars for responsiveAnalogRead\n//\n\nvar smoothValue = 0;\nvar errorEMA = 0;\nvar lastActivityMS = 0;\nvar sleeping = false;\n\n//\n// responsive analog read\n//\n\nfunction responsiveAnalogRead (newValue) {\n  // get current milliseconds\n  var ms = millis();\n  \n  // if sleep and edge snap are enabled and the new value is very close to an edge, drag it a little closer to the edges. This'll make it easier to pull the output values right to the extremes without sleeping, and it'll make movements right near the edge appear larger, making it easier to wake up.\n  if(SLEEP_ENABLE && EDGE_SNAP_ENABLE) {\n    if(newValue < ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ACTIVITY_THRESHOLD;\n    } else if(newValue > ANALOG_RESOLUTION - ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ANALOG_RESOLUTION + ACTIVITY_THRESHOLD;\n    }\n  }\n  \n  // get difference between new input value and current smooth value\n  var diff = Math.abs(newValue - smoothValue);\n  \n  // measure the difference between the new value and current value over time\n  // to get a more reasonable indication of how far off the current smooth value is\n  // compared to the actual measurements\n  errorEMA += ((newValue - smoothValue) - errorEMA) * 0.4;\n \n  // if sleep has been enabled, keep track of when we're asleep or not by marking the time of last activity and testing to see how much time has passed since then\n  if(SLEEP_ENABLE) {\n    // recalculate sleeping status\n    // (asleep if last activity was over SLEEP_DELAY_MS ago)\n    sleeping = Math.abs(errorEMA) < ACTIVITY_THRESHOLD;\n  }\n  \n  // if we're allowed to sleep, and we're sleeping\n  // then don't update responsiveValue this loop\n  // just output the existing responsiveValue\n  if(SLEEP_ENABLE && sleeping) {\n    return Math.floor(smoothValue);\n  }\n  \n  // now calculate a 'snap curve' function, where we pass in the diff (x) and get back a number from 0-1. We want small values of x to result in an \n  // output close to zero, so when the smooth value is close to the input value it'll smooth out noise aggressively by responding slowly to sudden \n  // changes. We want a small increase in x to result in a much higher output value, so medium and large movements are snappy and responsive, and \n  // aren't made sluggish by unnecessarily filtering out noise. A hyperbola (f(x) = 1/x) curve is used. First x has an offset of 1 applied, so x = 0 now \n  // results in a value of 1 from the hyperbola function. High values of x tend toward 0, but we want an output that begins at 0 and tends toward 1, so 1-y \n  // flips this up the right way. Finally the result is multiplied by 2 and capped at a maximum of one, which means that at a certain point all larger \n  // movements are maximally snappy\n  \n  var snapCurve = function(x) {\n    var y = 1 / (x + 1);\n    y = (1 - y)*2;\n    if(y > 1) {\n      return 1;\n    }\n    return y;\n  };\n  \n  // multiply the input by SNAP_MULTIPLER so input values fit the snap curve better. \n  var snap = snapCurve(diff * SNAP_MULTIPLIER);\n  \n  // when sleep is enabled, the emphasis is stopping on a responsiveValue quickly, and it's less about easing into position. If sleep is enabled, add a small amount to snap so it'll tend to snap into a more accurate position before sleeping starts.\n  if(SLEEP_ENABLE) {\n    snap = snap*0.5 + 0.5;\n  }\n  \n  // (update globalSnap so we can show snap in the output window)\n  globalSnap = snap;\n  \n  // calculate the exponential moving average based on the snap\n  smoothValue += (newValue - smoothValue) * snap;\n  \n  // ensure output is in bounds\n  if(smoothValue < 0) {\n    smoothValue = 0;\n  } else if(smoothValue > ANALOG_RESOLUTION - 1) {\n    smoothValue = ANALOG_RESOLUTION - 1;\n  }\n  \n  // expected output is an integer\n  return Math.floor(smoothValue);\n}\n\n\n\n\nvar level = parseInt(msg.payload );\nresponsiveValue = responsiveAnalogRead(level);\nmsg.payload = responsiveValue;\nmsg.topic = 'responsiveRead';\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["a1d19555.838ef8","abe6d7a6.02cb88"]]},{"id":"a1d19555.838ef8","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":890,"y":380,"wires":[]},{"id":"ad186edf.e5a68","type":"function","z":"c83a711d.e09dc","name":"Concatenate buffer","func":"var waterLevel = msg.payload[0];\nwaterLevel = waterLevel <<8;\nwaterLevel += msg.payload[1];\nwaterLevel = waterLevel / 10;\nif (waterLevel > 0){\n    var msg = {payload : waterLevel};\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["31ddb0b8.e533b","5669ad49.76faf4"]]},{"id":"758b2f08.9e7f3","type":"rbe","z":"c83a711d.e09dc","name":"","func":"narrowband","gap":"2%","start":"237","inout":"out","x":470,"y":340,"wires":[["29a3af68.110e1"]]},{"id":"abe6d7a6.02cb88","type":"smooth","z":"c83a711d.e09dc","name":"","action":"mean","count":"20","round":"0","x":840,"y":260,"wires":[["11793886.7c9137","5863afbe.37187"]]},{"id":"7b7f99f7.1e2ee8","type":"influxdb out","z":"c83a711d.e09dc","influxdb":"db0b264a.daf448","name":"","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1430,"y":460,"wires":[]},{"id":"11793886.7c9137","type":"range","z":"c83a711d.e09dc","minin":"0","maxin":"253","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":1010,"y":260,"wires":[["95f2d566.0e4a18","259af6c4.88c95a","db12781a.8c0618","d92fc336.cf9c4","b1b72427.b901b8","af2caeb4.8ed9b"]]},{"id":"95f2d566.0e4a18","type":"ui_chart","z":"c83a711d.e09dc","name":"","group":"eb791aa0.e6ea68","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ffff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1330,"y":320,"wires":[[],[]]},{"id":"259af6c4.88c95a","type":"function","z":"c83a711d.e09dc","name":"Set InfluxDB tags","func":"var origPayload = msg.payload;\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"range\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":420,"wires":[["7b7f99f7.1e2ee8"]]},{"id":"cd0ed33.0c4e63","type":"mqtt out","z":"9d369813.62c968","name":"","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":1160,"y":430,"wires":[]},{"id":"31ddb0b8.e533b","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":517,"y":171,"wires":[]},{"id":"29a3af68.110e1","type":"debug","z":"c83a711d.e09dc","name":"","active":true,"console":"false","complete":"true","x":660,"y":400,"wires":[]},{"id":"61930a89.1baec4","type":"ui_text","z":"63c5280c.e5f3e8","group":"f09a5c43.cd2cb","order":3,"width":"2","height":"2","name":"EC","label":"<font size='5'>EC</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}} μS</font>","layout":"col-center","x":1070,"y":440,"wires":[]},{"id":"8a5b0b7a.a9a968","type":"function","z":"63c5280c.e5f3e8","name":"","func":"var level = msg.payload;\nif (  level < 300 || level > 400)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[["61930a89.1baec4"]]},{"id":"b606bbd7.4fc228","type":"ui_text","z":"8b4de44f.be3818","group":"f09a5c43.cd2cb","order":4,"width":"2","height":"2","name":"PH","label":"<font size='5'>PH</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":1110,"y":60,"wires":[]},{"id":"5c36b214.78304c","type":"function","z":"8b4de44f.be3818","name":"","func":"var level = msg.payload;\nif (  level < 6.5 || level > 7)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":60,"wires":[["b606bbd7.4fc228"]]},{"id":"12bd11f1.375b2e","type":"ui_text","z":"c83a711d.e09dc","group":"f09a5c43.cd2cb","order":1,"width":"2","height":"2","name":"Level","label":"<font size='5'>H2O</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":1390,"y":80,"wires":[]},{"id":"d92fc336.cf9c4","type":"function","z":"c83a711d.e09dc","name":"Set Dashboard color","func":"var level = msg.payload;\nif (  level < 92 || level > 100)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":100,"wires":[["12bd11f1.375b2e"]]},{"id":"10bea6f9.1985c9","type":"ui_text","z":"32844adc.db94a6","group":"f09a5c43.cd2cb","order":2,"width":"2","height":"2","name":"Temp","label":"<font size='5'>Temp</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}&deg; F</font>","layout":"col-center","x":770,"y":120,"wires":[]},{"id":"c5a7db5a.84ae98","type":"function","z":"32844adc.db94a6","name":"","func":"var level = msg.payload;\nif (  level < 82 || level > 86)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["10bea6f9.1985c9"]]},{"id":"c7471141.06c46","type":"ui_text","z":"1034a905.09a6e7","group":"c1c3ef67.1f66","order":1,"width":"2","height":"2","name":"CPU","label":"<font size='5'>CPU</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}&deg; F</font>","layout":"col-center","x":970,"y":1000,"wires":[]},{"id":"e4f1496d.1e9bd8","type":"function","z":"1034a905.09a6e7","name":"","func":"var level = msg.payload;\nif (  level < 82 || level > 140)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1000,"wires":[["c7471141.06c46"]]},{"id":"4eacc54f.d5beac","type":"ui_button","z":"7994f3a.ba7940c","name":"","group":"c13c6b1f.1a7918","order":2,"width":"3","height":"1","passthru":false,"label":"Manual Start","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"NEXT","x":127.91874313354492,"y":352.31244468688965,"wires":[["65a6c29e.88023c","9b8cd961.2d5e38"]]},{"id":"aba555b5.cba618","type":"inject","z":"d73c9477.9ebb98","name":"on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":100,"wires":[["ae848d6b.11903"]]},{"id":"43703761.1baf38","type":"function","z":"d73c9477.9ebb98","name":"init state","func":"var devices = global.get('devices') || {};\n\nfor (var device in devices) {\n    node.send({   \n        topic: 'relays/input/' + device,\n        payload: devices[device].state ,\n        mode: devices[device].mode,\n        channel: devices[device].channel\n    }\n    );\n}\n","outputs":"1","noerr":0,"x":580.5187683105469,"y":105.0250015258789,"wires":[["2baf9dea.52e9a2","763ef989.503128"]]},{"id":"d46a468a.a5abf8","type":"comment","z":"d73c9477.9ebb98","name":"load state","info":"","x":140,"y":40,"wires":[]},{"id":"10b82508.8e4bbb","type":"comment","z":"d73c9477.9ebb98","name":"configure devices here","info":"","x":379.0187683105469,"y":63.025001525878906,"wires":[]},{"id":"2baf9dea.52e9a2","type":"delay","z":"d73c9477.9ebb98","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":799.0187683105469,"y":105.0250015258789,"wires":[["a78907f0.672b28"]]},{"id":"d78dd389.ba3da","type":"function","z":"d73c9477.9ebb98","name":"init devices","func":"/* set up all devices */\n\nvar devices = {\n    mixer: {\n        name: 'Mixer',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 0\n    },\n    micro: {\n        name: 'Micro',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 1\n    },\n    macro: {\n        name: 'Macro',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 2\n    },\n    alk: {\n        name: 'Alk',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 3\n    },\n    drain: {\n        name: 'Drain',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 4\n    },\n    co2: {\n        name: 'CO2',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 5\n    },\n    gh: {\n        name: 'GH',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 6\n    },\n    ato: {\n        name: 'ATO',\n        state: 'off',\n        force: true,\n        channel: 7\n    },\n    filter: {\n        name: 'Filter',\n        state: 'on',\n        mode: 'auto',\n        force: true,\n        channel: 8\n    },\n    air: {\n        name: 'Air',\n        state: 'on',\n        mode: 'auto',\n        force: true,\n        channel: 9\n    },\n    circ1: {\n        name: 'Circ 1',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 10\n    },\n    heater: {\n        name: 'Heater',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 11\n    },\n    T5: {\n        name: 'T5',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 12\n    }\n};\n\n\nglobal.set('devices', devices);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["43703761.1baf38"]]},{"id":"a78907f0.672b28","type":"mqtt out","z":"d73c9477.9ebb98","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":1031.0188179016113,"y":89.02499580383301,"wires":[]},{"id":"b0d5e9c4.3d36f8","type":"mqtt out","z":"d73c9477.9ebb98","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":1140,"y":620,"wires":[]},{"id":"f7718dde.caf79","type":"ui_template","z":"d73c9477.9ebb98","group":"b6e00ffc.ea558","name":"buttons","order":1,"width":"7","height":"10","format":"\n<div ng-repeat=\"(key, device) in msg.payload\">\n\n    <div class=\"btn-row \" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\n        <span class=\" fa fa-power-off\"\n        ng-class=\"device.state === 'on' ? 'power-on' : 'power-off'\"></span>\n        \n\t\t<span class=\"btn-name\" flex=\"20\">&nbsp; &nbsp;{{device.name}}</span>\n\n        <md-button \n                class=\"md-raised btn btn-off\"\n                ng-init=\"buttonText = device.state === 'on' ? 'On' : 'Off'\" \n                ng-click=\"buttonText = device.state === 'on' ? 'Off' : 'On';\n                send({payload: device.state === 'on' ? 'off' : 'on', channel: device.channel , topic: 'relays/input/'+key});\"\n                flex>\n                {{buttonText}}\n        </md-button>\n            \n         <md-button \n                class=\"md-raised btn btn-auto\" \n                ng-init=\"buttonText2 = device.mode === 'auto' ? 'AUTO' : 'MANUAL'\" \n                ng-click=\"buttonText2 = device.mode === 'manual' ? 'AUTO' : 'MANUAL';\n                send({payload: device.mode === 'auto' ? 'manual' : 'auto' ,  channel: device.channel, topic: 'relays/auto/'+key});\"\n                flex>\n                {{buttonText2}}\n        </md-button>\n            \n\n    </div>\n</div>\n\n\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 10px;\n    }\n    \n   .md-button.btn {\n        color: #000;\n        text-align: center;\n        padding: 5px;\n        margin: 0px 5px 0px 0px;\n        background-color: #c3c3c3;\n        border: 1px solid #ababab;\n        box-shadow: 4px 4px 6px 0 #dadada;\n    }\n    \n    .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .md-button.btn.btn-on.btn-selected {\n        background-color: #66FF00;\n    }\n    \n    .md-button.btn.btn-auto.btn-selected {\n        background-color: #ffaa00;\n    }\n    \n    \n    .btn-name {\n        text-align: left;\n        margin-left: 2px;\n        font-weight: bold;\n    }\n    \n\n    .power-on {\n     color: #00ff00;\n    }\n    .power-off {\n     color: #ff0000;\n    }\n    \n    \n    }\n \n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":665.4999027252197,"y":618.9998912811279,"wires":[["fef7cbce.8e23d8","b0d5e9c4.3d36f8"]]},{"id":"b4705948.56c808","type":"mqtt in","z":"d73c9477.9ebb98","name":"","topic":"relays/state","qos":"2","broker":"63980a12.cc7494","x":178.9998722076416,"y":621.9998474121094,"wires":[["79cf4a92.2ec8a4"]]},{"id":"ea9330d8.0e3ee","type":"json","z":"d73c9477.9ebb98","name":"","x":458.99986457824707,"y":622.9997997283936,"wires":[["f7718dde.caf79","6710ee42.953a2"]]},{"id":"2c2917e9.7a1068","type":"comment","z":"d73c9477.9ebb98","name":"Dashboard Buttons ","info":"","x":264.99986457824707,"y":574.9997997283936,"wires":[]},{"id":"a244f0bc.5a912","type":"mqtt in","z":"d73c9477.9ebb98","name":"","topic":"relays/input/+","qos":"2","broker":"63980a12.cc7494","x":180.0187759399414,"y":329.02506923675537,"wires":[["ba5c5dbc.ec1ac","919feba3.410a88","64492f0d.1ff0f"]]},{"id":"7ce18007.072f2","type":"comment","z":"d73c9477.9ebb98","name":"handle state changes","info":"","x":171.01876831054688,"y":234.0250015258789,"wires":[]},{"id":"9e0c946f.8f2718","type":"mqtt out","z":"d73c9477.9ebb98","name":"","topic":"relays/state","qos":"2","retain":"","broker":"63980a12.cc7494","x":970.0187911987305,"y":309.0249443054199,"wires":[]},{"id":"2c977de0.007772","type":"comment","z":"d73c9477.9ebb98","name":"broadcast full state","info":"","x":705.0187530517578,"y":221.0250129699707,"wires":[]},{"id":"c417234b.44f7c","type":"mqtt in","z":"d73c9477.9ebb98","name":"","topic":"relays/auto/+","qos":"2","broker":"63980a12.cc7494","x":184.01876831054688,"y":276.0250358581543,"wires":[["834da5ea.7c2018"]]},{"id":"ba5c5dbc.ec1ac","type":"function","z":"d73c9477.9ebb98","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\n    global.set('devices.'+device+'.state', msg.payload);\n    global.set('devices.'+device+'.mode', msg.mode);\n return msg;\n","outputs":1,"noerr":0,"x":463.5188293457031,"y":331.02501010894775,"wires":[["36073475.dc1f2c"]]},{"id":"36073475.dc1f2c","type":"function","z":"d73c9477.9ebb98","name":"build state object","func":"function bit_set(num, bit) {\n    return num | 1 << bit;\n}\n\n/* build full state object */\n//var state   = global.get('state');\nvar devices = global.get('devices');\nvar relay8 = 0;\n\n//build the bitmap for the relay controller\nfor(var device in devices) {\n    if (devices[device].channel < 8)\n    {\n        relay8 = devices[device].state === 'off' ?  relay8 | 1 << devices[device].channel : relay8;\n    }\n}\n\nmsg = {\n    topic: 'relays/state',\n    payload: devices,\n    relay: relay8\n};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":718.0187683105469,"y":308.0250015258789,"wires":[["9e0c946f.8f2718","6ed4af75.90fcb","52759b2d.616084"]]},{"id":"834da5ea.7c2018","type":"function","z":"d73c9477.9ebb98","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\n//global.set('devices.'+device+'.state', msg.payload);\nglobal.set('devices.'+device+'.mode',  msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":468.5188293457031,"y":276.0250606536865,"wires":[["36073475.dc1f2c"]]},{"id":"6710ee42.953a2","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":583.8998279571533,"y":548.7372570037842,"wires":[]},{"id":"fef7cbce.8e23d8","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":774.9060764312744,"y":699.7497882843018,"wires":[]},{"id":"973a357b.d3c578","type":"catch","z":"d73c9477.9ebb98","name":"","scope":null,"x":1242.9186706542969,"y":36.69999694824219,"wires":[["3460b9f7.5c52c6"]]},{"id":"3460b9f7.5c52c6","type":"debug","z":"d73c9477.9ebb98","name":"","active":true,"console":"false","complete":"true","x":1396.9186706542969,"y":34.76874542236328,"wires":[]},{"id":"d065dfe8.55a4c","type":"i2c out","z":"d73c9477.9ebb98","name":"PCF8574","address":"56","command":"0","payload":"payload","payloadType":"msg","count":"1","x":1320,"y":240,"wires":[]},{"id":"52759b2d.616084","type":"function","z":"d73c9477.9ebb98","name":"Msg for Relay","func":"newmsg = {payload: msg.relay}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1060,"y":220,"wires":[["d065dfe8.55a4c","383adb6f.8b0cc4"]]},{"id":"b1b72427.b901b8","type":"ui_text","z":"c83a711d.e09dc","group":"eb791aa0.e6ea68","order":0,"width":0,"height":0,"name":"","label":"Current Reading","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":380,"wires":[]},{"id":"ffa7c802.6248f8","type":"mqtt in","z":"27b141e4.135f1e","name":"","topic":"Sensor/WL2","qos":"2","broker":"63980a12.cc7494","x":100,"y":270,"wires":[["8eed497a.34d548","bba85d79.1cb99"]]},{"id":"86af59c6.4ef138","type":"influxdb out","z":"27b141e4.135f1e","influxdb":"db0b264a.daf448","name":"","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1370,"y":360,"wires":[]},{"id":"dce9d0f3.88622","type":"function","z":"27b141e4.135f1e","name":"Build Influx msg","func":"var origPayload = msg.payload;\n\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\npayload = payload; // + 3;\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":240,"wires":[["fa19a30a.5c4e3"]]},{"id":"285bf654.7f090a","type":"influxdb out","z":"d73c9477.9ebb98","influxdb":"db0b264a.daf448","name":"","measurement":"","precision":"","retentionPolicy":"","x":650.6334648132324,"y":446.86667919158936,"wires":[]},{"id":"64492f0d.1ff0f","type":"function","z":"d73c9477.9ebb98","name":"Influxdb tags","func":"var devices = global.get('devices') || {};\nvar device = devices[msg.topic.split('/')[2]];\nmsg.measurement = \"relays\";\nvar origpayload = parseInt(msg.payload === 'on' ? 1 : 0) ;\nmsg.device = device;\nmsg.payload = [{\n    value: origpayload,\n},\n{\n    relay:\"sain8\",\n    number: device.channel,\n    name: device.name,\n    mode: device.mode\n}];\nreturn msg;","outputs":1,"noerr":0,"x":451.63340759277344,"y":434.800106048584,"wires":[["285bf654.7f090a","7050038a.22f65c"]]},{"id":"7050038a.22f65c","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":649.0000610351562,"y":397.9999532699585,"wires":[]},{"id":"74155d43.d475f4","type":"mqtt in","z":"c83a711d.e09dc","name":"","topic":"Sensor/WaterLevel","qos":"1","broker":"63980a12.cc7494","x":200,"y":880,"wires":[["8bc11f9.6b2ece","9f52d7e2.ee2728","e3a07d23.d5c37","2821f0ca.8584b"]]},{"id":"8bc11f9.6b2ece","type":"function","z":"c83a711d.e09dc","name":"ATO (100)","func":"var devices = global.get(\"devices\");\nvar drain = devices.drain.state;  //context.get(\"drainactive\") || false;\nvar starttime = context.get(\"starttime\") || now;\nvar now = new Date();\nvar timeractive = now - starttime < 15000  ? true : false;\nvar ato  = devices.ato.state;\n\n\nvar levelmax = 100;\nvar levelmin = 92;\nvar timecount = now - starttime;\n\nvar devices = global.get(\"devices\");\n\nvar waterlevel = 0;\n//starttime = timeractive ? now : starttime;\n\n\nif (msg.topic === \"Sensor/WaterLevel\")\n{\n\twaterlevel = parseInt(msg.payload); \n\n\tif (waterlevel >= levelmax )\n\t{\n\t    if (ato !== \"off\"  && !timeractive)\n\t    {\n           \tvar atomsg = {payload: 'off'};\n    \t\tatomsg.topic = \"relays/input/ato\";\n    \t\tatomsg.state = 'off';\n    \t\tnode.send(atomsg);\n\t    }\n\t\tcontext.set(\"ato\", false);\n\t}\n\telse if (waterlevel < levelmax  && drain !== \"on\"  && ato !== \"on\")\n    \t{\n    \t\tvar atomsg = {payload: 'on'};\n    \t\tatomsg.topic = \"relays/input/ato\";\n    \t\tatomsg.state = 'on';\n    \t\tnode.send(atomsg);\n    \t\tcontext.set(\"starttime\", now);  //start timer\n    \t\tcontext.set(\"ato\", true);\n    \t}\n}\n\nvar lastmsg = {payload: \"test\"};\n\nlastmsg.timeractive = timeractive;\nlastmsg.starttime = starttime;\nlastmsg.now = now;\nlastmsg.ato = ato;\nlastmsg.topic = \"data\";\nlastmsg.wl = waterlevel;\nlastmsg.timecount = timecount;\nreturn lastmsg;\n\n","outputs":1,"noerr":0,"x":460,"y":730,"wires":[["7fe1e50c.52abdc","bf991bb5.d4da58"]]},{"id":"2821f0ca.8584b","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":500,"y":820,"wires":[]},{"id":"7f876df7.9f0434","type":"timerswitch","z":"829e5c6f.d86b7","name":"T5 Lights Schedule","ontopic":"relays/input/T5","offtopic":"relays/input/T5","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"09","on_m":"30","on_s":"00","off_h":"17","off_m":"00","off_s":"00","valid":true}],"x":590,"y":870,"wires":[["a2a1d9ca.741ed8","4d0b1a01.9467c4","11cc003b.b03d7","3145cc94.c7cf44","1b5844f3.ad206b"]]},{"id":"4d0b1a01.9467c4","type":"function","z":"829e5c6f.d86b7","name":"InfluxDB Tags","func":"var origPayload = msg.payload === 'on' ? 100 : 0;\nvar topic = msg.topic.split(\"/\");\nmsg.measurement = \"lights\";\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    \n    id:\"T5\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":969.0999221801758,"y":884.7998085021973,"wires":[["74a03424.a10aec"]]},{"id":"919feba3.410a88","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":390.0000228881836,"y":496.9999780654907,"wires":[]},{"id":"46c9d390.a3342c","type":"switch","z":"7994f3a.ba7940c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"drain","vt":"str"},{"t":"cont","v":"gh","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":924.6339149475098,"y":302.73346519470215,"wires":[["a42b9556.381228"],["1a045de0.1bc712"],["fa5f1edf.eff17"]]},{"id":"784b05f5.69196c","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":944.9999694824219,"y":250.00001072883606,"wires":[]},{"id":"1a912581.8db81a","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":1210,"y":200,"wires":[]},{"id":"a42b9556.381228","type":"function","z":"7994f3a.ba7940c","name":"Turn on Mixer","func":"var newmsg = {\"payload\": 'on'};\nnewmsg.topic = \"relays/input/mixer\"\nnode.send(newmsg);\nreturn msg;","outputs":1,"noerr":0,"x":1099.633846282959,"y":284.7334289550781,"wires":[["fa5f1edf.eff17"]]},{"id":"1a045de0.1bc712","type":"function","z":"7994f3a.ba7940c","name":"Turn off Mixer","func":"var newmsg = {\"payload\": 'off'};\nnewmsg.topic = \"relays/input/mixer\"\nnode.send(newmsg);\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":340,"wires":[["fa5f1edf.eff17"]]},{"id":"5ca67fe5.10192","type":"inject","z":"1034a905.09a6e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.6333465576172,"y":1265.8666610717773,"wires":[["807e9fcd.a9508"]]},{"id":"7fe1e50c.52abdc","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":580,"y":550,"wires":[]},{"id":"a0806774.d84e18","type":"mqtt out","z":"c83a711d.e09dc","name":"relays/input/ato","topic":"relays/input/ato","qos":"","retain":"","broker":"63980a12.cc7494","x":1590,"y":790,"wires":[]},{"id":"bf991bb5.d4da58","type":"switch","z":"c83a711d.e09dc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"relays/input/ato","vt":"str"},{"t":"eq","v":"data","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":683.3188591003418,"y":727.733208656311,"wires":[["aa16a4af.889bd8","decd24bb.f92028"],["6841a2c7.a14a9c"],[]]},{"id":"76d550fb.110a9","type":"mqtt out","z":"c83a711d.e09dc","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":820,"y":860,"wires":[]},{"id":"6841a2c7.a14a9c","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":876.018684387207,"y":798.4666156768799,"wires":[]},{"id":"aa16a4af.889bd8","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":880,"y":760,"wires":[]},{"id":"decd24bb.f92028","type":"change","z":"c83a711d.e09dc","name":"","rules":[{"t":"set","p":"channel","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":710,"wires":[["dd411bfa.6a2708","fec0f6e6.cec638"]]},{"id":"b5e75637.643e18","type":"ui_text","z":"c83a711d.e09dc","group":"f09a5c43.cd2cb","order":1,"width":"2","height":"2","name":"ATO","label":"<font size='5'>ATO</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":1410,"y":640,"wires":[]},{"id":"14c7ee3e.225242","type":"function","z":"c83a711d.e09dc","name":"Set Dashboard color","func":"msg.color = msg.payload === 'off' ? 'red' : 'lime';\nmsg.payload = msg.payload === 'off' ? \"OFF\" : \"ON\"\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":620,"wires":[["b5e75637.643e18"]]},{"id":"748d6088.1fabd","type":"mqtt in","z":"27b141e4.135f1e","name":"","topic":"ESP/Switch/+","qos":"0","broker":"63980a12.cc7494","x":670,"y":980,"wires":[["5f76ecea.1d51c4"]]},{"id":"5f76ecea.1d51c4","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":849.3666076660156,"y":979.4666442871094,"wires":[]},{"id":"8918f2e9.64b27","type":"rbe","z":"27b141e4.135f1e","name":"","func":"narrowband","gap":"2%","start":"","inout":"out","x":400,"y":190,"wires":[["5411dfea.84e78"]]},{"id":"4e0bfcfb.4627c4","type":"debug","z":"46ad0f90.f2e8f","name":"","active":false,"console":"false","complete":"false","x":808.890625,"y":443.98828125,"wires":[]},{"id":"3783b391.0d29ec","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":1310,"y":530,"wires":[]},{"id":"9b8cd961.2d5e38","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":406.01953125,"y":379.00390625,"wires":[]},{"id":"20d4cbf3.62b344","type":"switch","z":"7994f3a.ba7940c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/macro","vt":"str"},{"t":"cont","v":"/micro","vt":"str"},{"t":"cont","v":"/gh","vt":"str"},{"t":"cont","v":"/alk","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":963.0196228027344,"y":424.00364685058594,"wires":[["af6ed196.ee0f1"],["af6ed196.ee0f1"],["af6ed196.ee0f1"],["af6ed196.ee0f1"],[]],"outputLabels":["macro","micro","gh","",""]},{"id":"2ae2013e.22790e","type":"function","z":"7994f3a.ba7940c","name":"Reset Container Contents","func":"\nvar topic = msg.topic.split(\"\\/\")[2];\n\nif (topic == \"gh\")\n    {\n        global.set(\"doseGH\", msg.payload);\n    }\nif (topic == \"macro\")\n    {\n        global.set(\"doseMacro\", msg.payload);\n    }\nif (topic == \"micro\")\n    {\n        global.set(\"doseMicro\", msg.payload);\n    }\nif (topic == \"alk\")\n    {\n        global.set(\"doseAlk\", msg.payload);\n    }    \n    \n\nmsg.topic = topic;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":940,"y":900,"wires":[["c801947b.e672b8"]]},{"id":"e4e41e26.a191c","type":"switch","z":"7994f3a.ba7940c","name":"Off only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":830.8867950439453,"y":424.5309886932373,"wires":[["20d4cbf3.62b344"],[]]},{"id":"dd411bfa.6a2708","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":1290,"y":860,"wires":[]},{"id":"f16de92d.8c66a8","type":"function","z":"829e5c6f.d86b7","name":"","func":"msg.payload = Math.round(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":981.8984375,"y":152.9140625,"wires":[["a91a811c.1aa2a"]]},{"id":"3781cecc.f82212","type":"ui_text","z":"829e5c6f.d86b7","group":"44afdf8c.66d06","order":4,"width":"2","height":"2","name":"Light","label":"<font size='5'>LED</font>","format":"<font size='4' color='lime'>{{msg.payload}}%</font>","layout":"col-center","x":1247.01953125,"y":430.00390625,"wires":[]},{"id":"e6c206aa.130ab8","type":"ui_text","z":"829e5c6f.d86b7","group":"44afdf8c.66d06","order":4,"width":"2","height":"2","name":"T5","label":"<font size='5'>T5</font>","format":"<font size='4' color={{msg.color === 'yellow' ? 'lime' : 'gray'}}>{{msg.payload}}</font>","layout":"col-center","x":1030,"y":1170,"wires":[]},{"id":"6119b6d9.8b1178","type":"function","z":"829e5c6f.d86b7","name":"","func":"msg.payload = Math.round(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":1013.01953125,"y":352.00390625,"wires":[["3781cecc.f82212"]]},{"id":"5411dfea.84e78","type":"function","z":"27b141e4.135f1e","name":"Responsive Read","func":"//\n// scroll to bottom to see responsiveAnalogRead() function\n//\n\n// consts\nvar ANALOG_RESOLUTION = 23000;\nvar globalSnap = 0;\nvar responsiveValue = 0;\n\n\n//\n// consts\n//\n\nfunction millis () { \n  var d = new Date();\n  return d.getTime(); \n}\n\n\n\n// affects the curve of movement amount > snap amount\n// smaller amounts like 0.001 make it ease slower\n// larger amounts like 0.1 make it less smooth\nvar SNAP_MULTIPLIER = 0.005;\n\n// enable sleep, so tiny movements of responsiveValue are ignored\n// good for when you want to limit how often responsiveValue updates\n// setting sleep to false means that responsiveValue will ease into position\nvar SLEEP_ENABLE = true;\n\n// how much 'movement' must take place to wake up*\n// sleeping makes it harder to wake up. The result is that a nudge is needed to get responsiveAnalogRead to change values if it has been asleep\nvar ACTIVITY_THRESHOLD = 4;\n\n// enable edge snapping, which will pull values close to either end of the spectrum toward the edge when sleep is enabled. \n// It makes it possible for sleep enabled values to reach either end, without it sleep may kick in too early and the output \n// value may not be able to be pulled closer to the edges\nvar EDGE_SNAP_ENABLE = true;\n\n//\n// vars for responsiveAnalogRead\n//\n\nvar smoothValue = 0;\nvar errorEMA = 0;\nvar lastActivityMS = 0;\nvar sleeping = false;\n\n//\n// responsive analog read\n//\n\nfunction responsiveAnalogRead (newValue) {\n  // get current milliseconds\n  var ms = millis();\n  \n  // if sleep and edge snap are enabled and the new value is very close to an edge, drag it a little closer to the edges. This'll make it easier to pull the output values right to the extremes without sleeping, and it'll make movements right near the edge appear larger, making it easier to wake up.\n  if(SLEEP_ENABLE && EDGE_SNAP_ENABLE) {\n    if(newValue < ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ACTIVITY_THRESHOLD;\n    } else if(newValue > ANALOG_RESOLUTION - ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ANALOG_RESOLUTION + ACTIVITY_THRESHOLD;\n    }\n  }\n  \n  // get difference between new input value and current smooth value\n  var diff = Math.abs(newValue - smoothValue);\n  \n  // measure the difference between the new value and current value over time\n  // to get a more reasonable indication of how far off the current smooth value is\n  // compared to the actual measurements\n  errorEMA += ((newValue - smoothValue) - errorEMA) * 0.4;\n \n  // if sleep has been enabled, keep track of when we're asleep or not by marking the time of last activity and testing to see how much time has passed since then\n  if(SLEEP_ENABLE) {\n    // recalculate sleeping status\n    // (asleep if last activity was over SLEEP_DELAY_MS ago)\n    sleeping = Math.abs(errorEMA) < ACTIVITY_THRESHOLD;\n  }\n  \n  // if we're allowed to sleep, and we're sleeping\n  // then don't update responsiveValue this loop\n  // just output the existing responsiveValue\n  if(SLEEP_ENABLE && sleeping) {\n    return Math.floor(smoothValue);\n  }\n  \n  // now calculate a 'snap curve' function, where we pass in the diff (x) and get back a number from 0-1. We want small values of x to result in an \n  // output close to zero, so when the smooth value is close to the input value it'll smooth out noise aggressively by responding slowly to sudden \n  // changes. We want a small increase in x to result in a much higher output value, so medium and large movements are snappy and responsive, and \n  // aren't made sluggish by unnecessarily filtering out noise. A hyperbola (f(x) = 1/x) curve is used. First x has an offset of 1 applied, so x = 0 now \n  // results in a value of 1 from the hyperbola function. High values of x tend toward 0, but we want an output that begins at 0 and tends toward 1, so 1-y \n  // flips this up the right way. Finally the result is multiplied by 2 and capped at a maximum of one, which means that at a certain point all larger \n  // movements are maximally snappy\n  \n  var snapCurve = function(x) {\n    var y = 1 / (x + 1);\n    y = (1 - y)*2;\n    if(y > 1) {\n      return 1;\n    }\n    return y;\n  };\n  \n  // multiply the input by SNAP_MULTIPLER so input values fit the snap curve better. \n  var snap = snapCurve(diff * SNAP_MULTIPLIER);\n  \n  // when sleep is enabled, the emphasis is stopping on a responsiveValue quickly, and it's less about easing into position. If sleep is enabled, add a small amount to snap so it'll tend to snap into a more accurate position before sleeping starts.\n  if(SLEEP_ENABLE) {\n    snap = snap*0.5 + 0.5;\n  }\n  \n  // (update globalSnap so we can show snap in the output window)\n  globalSnap = snap;\n  \n  // calculate the exponential moving average based on the snap\n  smoothValue += (newValue - smoothValue) * snap;\n  \n  // ensure output is in bounds\n  if(smoothValue < 0) {\n    smoothValue = 0;\n  } else if(smoothValue > ANALOG_RESOLUTION - 1) {\n    smoothValue = ANALOG_RESOLUTION - 1;\n  }\n  \n  // expected output is an integer\n  return Math.floor(smoothValue);\n}\n\n\n\n\nvar level = parseInt(msg.payload)/100;\nresponsiveValue = responsiveAnalogRead(level);\nmsg.payload = responsiveValue;\nmsg.topic = 'responsiveRead';\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["6525f7d5.7fe328","72a73a17.c96b94","20915cf1.a928c4"]]},{"id":"6525f7d5.7fe328","type":"range","z":"27b141e4.135f1e","minin":"0","maxin":"209","minout":"0","maxout":"105","action":"clamp","round":true,"name":"","x":800,"y":240,"wires":[["dce9d0f3.88622","7c04daf.d053d24"]]},{"id":"7c04daf.d053d24","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":960,"y":190,"wires":[]},{"id":"5863afbe.37187","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":750,"y":160,"wires":[]},{"id":"79cf4a92.2ec8a4","type":"rbe","z":"d73c9477.9ebb98","name":"","func":"rbe","gap":"","start":"","inout":"out","x":322.75449562072754,"y":628.185712814331,"wires":[["ea9330d8.0e3ee"]]},{"id":"763ef989.503128","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":802.0235023498535,"y":168.03907203674316,"wires":[]},{"id":"6ed4af75.90fcb","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":998.0234680175781,"y":391.0390796661377,"wires":[]},{"id":"aeb2ddda.5f08","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":604.0234680175781,"y":275.0391082763672,"wires":[]},{"id":"4d54abe0.771684","type":"ui_text","z":"1034a905.09a6e7","group":"c1c3ef67.1f66","order":2,"width":"2","height":"2","name":"Uptime - Dashboard","label":"<font size='5'>Uptime</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":598.0235481262207,"y":305.0391149520874,"wires":[]},{"id":"a2a1d9ca.741ed8","type":"function","z":"829e5c6f.d86b7","name":"","func":"msg.color = msg.payload === \"on\" ? 'yellow' : 'gray';\nmsg.payload = msg.payload === \"on\" ? 'On' : 'Off';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1020,"wires":[["e6c206aa.130ab8"]]},{"id":"ae848d6b.11903","type":"trigger","z":"d73c9477.9ebb98","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"","name":"","x":270,"y":140,"wires":[["d78dd389.ba3da"]]},{"id":"e823bc6e.e56b5","type":"ui_dropdown","z":"c28e15c3.5a4948","name":"Test Readings","label":"Test ","place":"Select option","group":"6a29bbfc.e74224","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"GH","value":"GH","type":"str"},{"label":"KH","value":"KH","type":"str"},{"label":"Nitrate","value":"NO3","type":"str"},{"label":"Nitrite","value":"NO2","type":"str"},{"label":"Amonia","value":"AM","type":"str"},{"label":"pH","value":"pH","type":"str"},{"label":"PO4","value":"PO4","type":"str"},{"label":"ORP","value":"ORP","type":"str"}],"payload":"","topic":"test","x":230,"y":140,"wires":[["d721acb8.97ed8"]]},{"id":"84421d1c.7eed5","type":"ui_text_input","z":"c28e15c3.5a4948","name":"Result","label":"Result","group":"6a29bbfc.e74224","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"result","x":210,"y":190,"wires":[["d721acb8.97ed8"]]},{"id":"6d04a051.b7488","type":"ui_button","z":"c28e15c3.5a4948","name":"","group":"6a29bbfc.e74224","order":3,"width":0,"height":0,"passthru":false,"label":"Save","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"num","topic":"save","x":200,"y":240,"wires":[["d721acb8.97ed8"]]},{"id":"d721acb8.97ed8","type":"function","z":"c28e15c3.5a4948","name":"","func":"var test = context.get('test') || '';\nvar result = context.get('result') || 0;\n\n\nif (msg.topic === 'result')\n{\n    result = parseInt(msg.payload);\n    context.set('result', result);\n}\nif (msg.topic === 'test')\n{\n    test = msg.payload;\n    context.set('test', test);\n}\n\nif (msg.topic === 'save')\n{\n      msg.payload = [{\n        value: result\n    },\n    {\n        test: test,\n        measurement: 'ManualReadings'\n    }];\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":509,"y":218,"wires":[["ec230864.5fad98","4bb42294.a7bd1c"]]},{"id":"ec230864.5fad98","type":"influxdb out","z":"c28e15c3.5a4948","influxdb":"db0b264a.daf448","name":"ManualReadings","measurement":"ManualReadings","precision":"","retentionPolicy":"","x":725,"y":213,"wires":[]},{"id":"4bb42294.a7bd1c","type":"debug","z":"c28e15c3.5a4948","name":"","active":false,"console":"false","complete":"true","x":754,"y":271,"wires":[]},{"id":"1d443931.9bf9e7","type":"inject","z":"7994f3a.ba7940c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":570,"y":1280,"wires":[["88b003f9.d1f5b"]]},{"id":"35240e2a.17f522","type":"inject","z":"7994f3a.ba7940c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":580,"y":1340,"wires":[["88b003f9.d1f5b"]]},{"id":"90711447.687f78","type":"mqtt in","z":"7994f3a.ba7940c","name":"","topic":"relays/input/filter","qos":"2","broker":"63980a12.cc7494","x":261.02359771728516,"y":1419.53959274292,"wires":[["f7708d60.18a85"]]},{"id":"65efc4b8.197ecc","type":"timerswitch","z":"7994f3a.ba7940c","name":"Air Pump","ontopic":"relays/input/air","offtopic":"relays/input/air","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"16","on_m":"30","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true}],"x":420,"y":1890,"wires":[["44dd61fd.8cf8f","5fed1be5.26a8e4"]]},{"id":"ad7fb2eb.21782","type":"mqtt out","z":"7994f3a.ba7940c","name":"relays/input/air","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":860,"y":1840,"wires":[]},{"id":"44dd61fd.8cf8f","type":"function","z":"7994f3a.ba7940c","name":"Build Msg","func":"msg.topic = \"relays/input/air\";\nmsg.channel = 9;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1840,"wires":[["ad7fb2eb.21782"]]},{"id":"86605182.0b091","type":"mqtt in","z":"7994f3a.ba7940c","name":"","topic":"relays/input/air","qos":"2","broker":"63980a12.cc7494","x":190,"y":1910,"wires":[["65efc4b8.197ecc"]]},{"id":"97079fa6.a482a","type":"function","z":"32844adc.db94a6","name":"Heater","func":"var setTemp = context.get(\"setTemp\") || 82;\nvar currentTemp = context.get(\"currentTemp\") || 82;\n\nif (msg.topic === \"temp\")\n{\n    currentTemp = parseInt(msg.payload);\n    context.set(\"currentTemp\", currentTemp);\n}\n\nif (msg.topic === \"setTemp\")\n{\n    setTemp = msg.payload;\n    context.set(\"setTemp\", setTemp);\n}\n\nmsg.payload = currentTemp < setTemp ? 1 : 0;\nmsg.setTemp = setTemp;\nmsg.currentTemp = currentTemp;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["d99faf7f.63d8d"]]},{"id":"ed61fb7b.841cc8","type":"ui_numeric","z":"32844adc.db94a6","name":"","label":"Heater","group":"f09a5c43.cd2cb","order":0,"width":0,"height":0,"passthru":true,"topic":"setTemp","format":"{{value}}","min":"80","max":"90","step":1,"x":770,"y":340,"wires":[["97079fa6.a482a"]]},{"id":"a332bfa2.54a67","type":"comment","z":"c83a711d.e09dc","name":"Automatic Top Off","info":"","x":240,"y":560,"wires":[]},{"id":"af2caeb4.8ed9b","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":1230,"y":220,"wires":[]},{"id":"f7ef941c.a33158","type":"timerswitch","z":"7994f3a.ba7940c","name":"Circulation 1","ontopic":"relays/input/circ1","offtopic":"relays/input/circ1","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"09","on_m":"00","on_s":"00","off_h":"17","off_m":"29","off_s":"00","valid":true}],"x":420,"y":2170,"wires":[["8be405e8.744d88","35d082.d41b8f7e","89972506.0e8588"]]},{"id":"8020b43f.4c6d18","type":"mqtt out","z":"7994f3a.ba7940c","name":"relays/input/circ1","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":870,"y":2210,"wires":[]},{"id":"8be405e8.744d88","type":"function","z":"7994f3a.ba7940c","name":"Build Msg","func":"msg.topic = \"relays/input/circ1\";\nmsg.channel = 10;\nreturn msg;","outputs":1,"noerr":0,"x":605.0193748474121,"y":2207.0037989616394,"wires":[["8020b43f.4c6d18"]]},{"id":"b755622b.3ec25","type":"mqtt in","z":"7994f3a.ba7940c","name":"","topic":"relays/input/circ1","qos":"2","broker":"63980a12.cc7494","x":190,"y":2230,"wires":[["46aa8e9.400497","f7ef941c.a33158"]]},{"id":"796ffe26.beba4","type":"mqtt in","z":"27b141e4.135f1e","name":"","topic":"ESP_socket8","qos":"2","broker":"63980a12.cc7494","x":190,"y":440,"wires":[["1547ee8d.a15171","36da1a1e.1fc0e6"]]},{"id":"1547ee8d.a15171","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":390,"y":410,"wires":[]},{"id":"d99faf7f.63d8d","type":"function","z":"32844adc.db94a6","name":"Build Msg","func":"msg.topic = \"relays/input/heater\";\nmsg.channel = 11;\nmsg.payload = msg.payload === 1 ? 'on' : 'off';\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[["af9b4193.ad159","caeb360d.1bc4a8"]]},{"id":"af9b4193.ad159","type":"mqtt out","z":"32844adc.db94a6","name":"relays/input/heater","topic":"","qos":"2","retain":"true","broker":"63980a12.cc7494","x":1350,"y":320,"wires":[]},{"id":"caeb360d.1bc4a8","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"true","x":1280,"y":220,"wires":[]},{"id":"383adb6f.8b0cc4","type":"debug","z":"d73c9477.9ebb98","name":"","active":false,"console":"false","complete":"true","x":1230,"y":160,"wires":[]},{"id":"46aa8e9.400497","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":360,"y":2230,"wires":[]},{"id":"1b5844f3.ad206b","type":"function","z":"829e5c6f.d86b7","name":"","func":"msg.channel = 12;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":950,"wires":[["1199848f.15f3cb"]]},{"id":"3f4b51a.15f4cae","type":"inject","z":"829e5c6f.d86b7","name":"","topic":"","payload":"resume","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":820,"wires":[["7f876df7.9f0434"]]},{"id":"1f8de066.cc19e","type":"mqtt in","z":"c83a711d.e09dc","name":"","topic":"relays/input/ato","qos":"1","broker":"63980a12.cc7494","x":760,"y":620,"wires":[["79700355.d52f8c","14c7ee3e.225242","2847796b.3ac256"]]},{"id":"4f2600e7.9fd0a","type":"mqtt in","z":"829e5c6f.d86b7","name":"","topic":"relays/input/T5","qos":"2","broker":"63980a12.cc7494","x":210,"y":910,"wires":[["7f876df7.9f0434"]]},{"id":"ce5cca63.dc4608","type":"ui_button","z":"829e5c6f.d86b7","name":"","group":"c6003a30.200c08","order":0,"width":0,"height":0,"passthru":false,"label":"T5 ","color":"","bgcolor":"","icon":"","payload":"resume","payloadType":"str","topic":"","x":280,"y":1060,"wires":[["7f876df7.9f0434"]]},{"id":"9f52d7e2.ee2728","type":"function","z":"c83a711d.e09dc","name":"Filter (95)","func":"var filtermin = 95;\n\nvar waterlevel = parseInt(msg.payload); \nvar filterstate = context.get(\"filterstate\") || false;\n\n\n\tif (waterlevel < filtermin )\n\t{\n\t\t\n\t\tvar filtermsg = {payload: 'off'};\n\t\tfiltermsg.topic = \"relays/input/filter\";\n\t\tfiltermsg.state = 'off';\n\t\tnode.send(filtermsg);\n\t\tcontext.set(\"filterstate\", false);\n\t\t\n\t}\n\t \n\t else if (!filterstate)\n\t {\n\t\t\n\t\tvar filtermsg = {payload: 'on'};\n\t\tfiltermsg.topic = \"relays/input/filter\";\n\t\tfiltermsg.state = 'on';\n\t\tnode.send(filtermsg);\n\t\tcontext.set(\"filterstate\", true);\n\t}\n\n//return msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["76d550fb.110a9"]]},{"id":"e3a07d23.d5c37","type":"function","z":"c83a711d.e09dc","name":"Drain (93)","func":"var levelmin = 93;\n\nvar waterlevel = parseInt(msg.payload); \n\n\tif (waterlevel < levelmin) \n\t{\n\t\tfilteroff = true;\n\t\tvar filtermsg = {payload: 'off'};\n\t\tfiltermsg.topic = \"relays/input/drain\";\n\t\tfiltermsg.state = 'off';\n\t\tnode.send(filtermsg);\n\t\t\n\t}\n\n","outputs":1,"noerr":0,"x":430,"y":960,"wires":[["76d550fb.110a9"]]},{"id":"d96e0ca6.17582","type":"ui_button","z":"7994f3a.ba7940c","name":"","group":"c6003a30.200c08","order":0,"width":0,"height":0,"passthru":false,"label":"Air","color":"","bgcolor":"","icon":"","payload":"resume","payloadType":"str","topic":"","x":130,"y":1980,"wires":[["65efc4b8.197ecc"]]},{"id":"54457994.238398","type":"ui_button","z":"7994f3a.ba7940c","name":"","group":"c6003a30.200c08","order":0,"width":0,"height":0,"passthru":false,"label":"Circ 1","color":"","bgcolor":"","icon":"","payload":"resume","payloadType":"str","topic":"","x":180,"y":2130,"wires":[["f7ef941c.a33158"]]},{"id":"5f26ac6b.9464c4","type":"ui_button","z":"d73c9477.9ebb98","name":"","group":"c6003a30.200c08","order":0,"width":0,"height":0,"passthru":false,"label":"Init Devices","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":100,"y":160,"wires":[["ae848d6b.11903"]]},{"id":"9eaba993.2d7d98","type":"catch","z":"32844adc.db94a6","name":"","scope":null,"x":100,"y":20,"wires":[["33cd24b3.c037dc"]]},{"id":"33cd24b3.c037dc","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"true","x":305.9937744140625,"y":31.081253051757812,"wires":[]},{"id":"3ce9ca72.1a0be6","type":"catch","z":"27b141e4.135f1e","name":"","scope":null,"x":80,"y":50,"wires":[["78428e68.85187"]]},{"id":"78428e68.85187","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":285.9937744140625,"y":61.08125305175781,"wires":[]},{"id":"bbb26342.0bba4","type":"inject","z":"d73c9477.9ebb98","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":1130,"y":350,"wires":[["d065dfe8.55a4c"]]},{"id":"79700355.d52f8c","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":960,"y":550,"wires":[]},{"id":"aaaa4b53.1f09d8","type":"mqtt out","z":"7994f3a.ba7940c","name":"Circ1 (5)","topic":"ESP/socket8/5","qos":"1","retain":"true","broker":"63980a12.cc7494","x":960,"y":2110,"wires":[]},{"id":"35d082.d41b8f7e","type":"function","z":"7994f3a.ba7940c","name":"ESP Msg  (NO)","func":"msg.payload  = msg.payload === \"off\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":2110,"wires":[["aaaa4b53.1f09d8"]]},{"id":"ff2629c2.9ac998","type":"inject","z":"32844adc.db94a6","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":true,"x":570,"y":340,"wires":[["ed61fb7b.841cc8"]]},{"id":"11cc003b.b03d7","type":"function","z":"829e5c6f.d86b7","name":"ESP Msg","func":"msg.payload  = msg.payload === \"on\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":840,"wires":[["2be1dba4.a654f4"]]},{"id":"2be1dba4.a654f4","type":"mqtt out","z":"829e5c6f.d86b7","name":"T5 (1)","topic":"ESP/socket8/1","qos":"2","retain":"true","broker":"63980a12.cc7494","x":1100,"y":840,"wires":[]},{"id":"3145cc94.c7cf44","type":"debug","z":"829e5c6f.d86b7","name":"","active":false,"console":"false","complete":"true","x":630,"y":1050,"wires":[]},{"id":"73fe6101.801a3","type":"mqtt in","z":"829e5c6f.d86b7","name":"","topic":"relays/auto/T5","qos":"2","broker":"63980a12.cc7494","x":200,"y":870,"wires":[["8a3cf8a4.a94448"]]},{"id":"8a3cf8a4.a94448","type":"function","z":"829e5c6f.d86b7","name":"","func":"msg.payload = msg.payload === \"auto\" ? \"resume\" : \"pause\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":870,"wires":[["7f876df7.9f0434","3145cc94.c7cf44"]]},{"id":"88b003f9.d1f5b","type":"mqtt out","z":"7994f3a.ba7940c","name":"Filter (8)","topic":"ESP/socket8/8","qos":"1","retain":"true","broker":"63980a12.cc7494","x":850,"y":1410,"wires":[]},{"id":"95fab0c1.9f2c3","type":"mqtt out","z":"c83a711d.e09dc","name":"ATO (6)","topic":"ESP/socket8/6","qos":"1","retain":"true","broker":"63980a12.cc7494","x":1460,"y":570,"wires":[]},{"id":"2847796b.3ac256","type":"function","z":"c83a711d.e09dc","name":"ESP Msg Cnage to NO later","func":"msg.payload  = msg.payload === \"off\" ? 1 : 0;\nmsg.origin = \"ato msg\";\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":580,"wires":[["95fab0c1.9f2c3"]]},{"id":"be3e942a.bc8828","type":"mqtt out","z":"32844adc.db94a6","name":"Heater (3)","topic":"ESP/socket8/3","qos":"2","retain":"true","broker":"63980a12.cc7494","x":1390,"y":440,"wires":[]},{"id":"7d33dbdb.99a754","type":"function","z":"32844adc.db94a6","name":"ESP Msg","func":"msg.payload  = msg.payload === \"on\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":470,"wires":[["be3e942a.bc8828","a33fcc10.99352"]]},{"id":"2af1b64.7c3384a","type":"mqtt in","z":"27b141e4.135f1e","name":"","topic":"ESP_Power8","qos":"2","broker":"63980a12.cc7494","x":180,"y":520,"wires":[["815f4f5f.8649f"]]},{"id":"815f4f5f.8649f","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":349.3666076660156,"y":521.4666385650635,"wires":[]},{"id":"5a5606ba.a25a58","type":"mqtt out","z":"27b141e4.135f1e","name":"ESP/socket8/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":610,"y":720,"wires":[]},{"id":"451ffcbb.ec2f64","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":830,"wires":[["5aad92aa.c4e6bc"]]},{"id":"a1a45abc.b9ded8","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":880,"wires":[["5aad92aa.c4e6bc"]]},{"id":"28a0c5e8.64577a","type":"kalman-filter","z":"27b141e4.135f1e","r":0.01,"q":3,"x":570,"y":290,"wires":[["27765d2c.4e71a2","44559188.865bb"]]},{"id":"bba85d79.1cb99","type":"function","z":"27b141e4.135f1e","name":"","func":"var level = parseInt(msg.payload)/100;\nmsg.payload = level;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":290,"wires":[["28a0c5e8.64577a"]]},{"id":"1199848f.15f3cb","type":"mqtt out","z":"829e5c6f.d86b7","name":"relays/input/T5","topic":"relays/input/T5","qos":"","retain":"","broker":"63980a12.cc7494","x":1020,"y":950,"wires":[]},{"id":"5aad92aa.c4e6bc","type":"function","z":"27b141e4.135f1e","name":"","func":"var payload = context.get(\"payload\") || 0;\nmsg.topic = \"ESP/socket8/\" + msg.payload;\npayload = payload === 0 ? 1 : 0;\nmsg.payload = payload;\ncontext.set(\"payload\", payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["49c63418.50e40c","5a5606ba.a25a58"]]},{"id":"49c63418.50e40c","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":620,"y":650,"wires":[]},{"id":"d453aaea.51b418","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":930,"wires":[["5aad92aa.c4e6bc"]]},{"id":"c08fcfe1.d9884","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":990,"wires":[["5aad92aa.c4e6bc"]]},{"id":"b0dd621e.11db","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":610,"wires":[["5aad92aa.c4e6bc"]]},{"id":"73290e2c.9fdda","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":660,"wires":[["5aad92aa.c4e6bc"]]},{"id":"e00dc43d.b59cd8","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":720,"wires":[["5aad92aa.c4e6bc"]]},{"id":"67c3e20c.f09e3c","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":770,"wires":[["5aad92aa.c4e6bc"]]},{"id":"a33fcc10.99352","type":"mqtt out","z":"32844adc.db94a6","name":"Heater (4)","topic":"ESP/socket8/4","qos":"2","retain":"true","broker":"63980a12.cc7494","x":1400,"y":520,"wires":[]},{"id":"e7beb562.ad6a28","type":"mqtt out","z":"7994f3a.ba7940c","name":"Air (7)","topic":"ESP/socket8/7","qos":"1","retain":"false","broker":"63980a12.cc7494","x":880,"y":1940,"wires":[]},{"id":"5fed1be5.26a8e4","type":"function","z":"7994f3a.ba7940c","name":"ESP Msg  (NO)","func":"msg.payload  = msg.payload === \"off\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1940,"wires":[["e7beb562.ad6a28"]]},{"id":"f7708d60.18a85","type":"function","z":"7994f3a.ba7940c","name":"ESP Msg  (NO)","func":"msg.payload  = msg.payload === \"off\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1420,"wires":[["88b003f9.d1f5b"]]},{"id":"15f83cc1.9f9d13","type":"ui_text","z":"27b141e4.135f1e","group":"c6003a30.200c08","order":5,"width":"3","height":"1","name":"","label":"Socket 8","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":470,"wires":[]},{"id":"430ac58e.3bfcdc","type":"ui_button","z":"27b141e4.135f1e","name":"","group":"c6003a30.200c08","order":4,"width":"3","height":"1","passthru":false,"label":"Reset Count","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":260,"y":480,"wires":[["36da1a1e.1fc0e6"]]},{"id":"36da1a1e.1fc0e6","type":"function","z":"27b141e4.135f1e","name":"","func":"var cnt = context.get(\"cnt\") || 0;\ncnt = cnt +1;\nif (msg.payload === \"reset\")\n    {\n        cnt = 0;\n    }\nmsg.payload = cnt;\ncontext.set(\"cnt\", cnt);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":470,"wires":[["15f83cc1.9f9d13","9836c5c4.d20168"]]},{"id":"9836c5c4.d20168","type":"function","z":"27b141e4.135f1e","name":"","func":"msg.payload = [{\n    value: 1,\n},\n{\n    sensor:\"socket8\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":410,"wires":[["86af59c6.4ef138"]]},{"id":"9b1ff512.c8d6d8","type":"mqtt in","z":"32844adc.db94a6","name":"","topic":"relays/input/heater","qos":"2","broker":"63980a12.cc7494","x":960,"y":470,"wires":[["7d33dbdb.99a754"]]},{"id":"46afb761.cd4578","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"true","complete":"true","x":1480,"y":620,"wires":[]},{"id":"3d643efe.808332","type":"ui_text_input","z":"7994f3a.ba7940c","name":"GH Days Left","label":"GH Days Left","group":"d65fa06a.d9342","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/gh","x":1350,"y":1110,"wires":[[]]},{"id":"b3068aec.eb7aa8","type":"ui_text_input","z":"7994f3a.ba7940c","name":"Micro Days Left","label":"Micro Days Left","group":"d65fa06a.d9342","order":3,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/micro","x":1350,"y":1080,"wires":[[]]},{"id":"d00c5369.06821","type":"ui_text_input","z":"7994f3a.ba7940c","name":"Macro Days Left","label":"Macro Days Left","group":"d65fa06a.d9342","order":2,"width":"3","height":"1","passthru":false,"mode":"text","delay":"300","topic":"dose/container/macro","x":1350,"y":1050,"wires":[[]]},{"id":"c0690fdd.97c9a","type":"ui_text_input","z":"7994f3a.ba7940c","name":"ALK Days Left","label":"ALK Days Left","group":"d65fa06a.d9342","order":4,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/alk","x":1349,"y":1140,"wires":[[]]},{"id":"8e99b8b1.292778","type":"function","z":"7994f3a.ba7940c","name":"","func":"msg.payload = msg.payload / 15;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":980,"wires":[["d00c5369.06821"]]},{"id":"3d9ab388.589a6c","type":"function","z":"7994f3a.ba7940c","name":"","func":"msg.payload = msg.payload / 15;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1020,"wires":[["b3068aec.eb7aa8"]]},{"id":"adb439e4.6ac168","type":"function","z":"7994f3a.ba7940c","name":"","func":"msg.payload = msg.payload / 160;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1060,"wires":[["3d643efe.808332"]]},{"id":"79f5abdb.e08294","type":"function","z":"7994f3a.ba7940c","name":"","func":"msg.payload = msg.payload / 15;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1100,"wires":[["c0690fdd.97c9a"]]},{"id":"89972506.0e8588","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":820,"y":2160,"wires":[]},{"id":"72a73a17.c96b94","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":860,"y":70,"wires":[]},{"id":"20915cf1.a928c4","type":"function","z":"27b141e4.135f1e","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_raw\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":140,"wires":[[]]},{"id":"5b36eac9.8977d4","type":"mqtt in","z":"c83a711d.e09dc","name":"","topic":"ESP/socket8/6","qos":"2","broker":"63980a12.cc7494","x":1240,"y":980,"wires":[["e852b318.a8288"]]},{"id":"e852b318.a8288","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":1430,"y":980,"wires":[]},{"id":"b7106a3a.16f888","type":"mqtt in","z":"27b141e4.135f1e","name":"","topic":"ESP/socket8/+","qos":"0","broker":"63980a12.cc7494","x":920,"y":740,"wires":[["bb551dd9.1f6b7","20ba268.3ecc5da"]]},{"id":"8f44fa58.788528","type":"mqtt out","z":"27b141e4.135f1e","name":"","topic":"","qos":"1","retain":"true","broker":"63980a12.cc7494","x":1280,"y":740,"wires":[]},{"id":"bb551dd9.1f6b7","type":"function","z":"27b141e4.135f1e","name":"","func":"\nmsg.topic = msg.topic.replace(\"t8\",\"t8.2\");\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":740,"wires":[["8f44fa58.788528"]]},{"id":"20ba268.3ecc5da","type":"debug","z":"27b141e4.135f1e","name":"","active":false,"console":"false","complete":"true","x":1130,"y":850,"wires":[]},{"id":"8eed497a.34d548","type":"smooth","z":"27b141e4.135f1e","name":"","action":"mean","count":"10","round":"0","mult":"single","x":270,"y":240,"wires":[["5411dfea.84e78"]]},{"id":"b5e59384.87745","type":"function","z":"27b141e4.135f1e","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_kalman_range\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["86af59c6.4ef138"]]},{"id":"27765d2c.4e71a2","type":"range","z":"27b141e4.135f1e","minin":"0","maxin":"203","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":760,"y":290,"wires":[[]]},{"id":"44559188.865bb","type":"function","z":"27b141e4.135f1e","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_kalman_raw\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":350,"wires":[[]]},{"id":"a7729e97.b13ae","type":"inject","z":"27b141e4.135f1e","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":500,"y":1060,"wires":[["89aa9904.f597e8"]]},{"id":"89aa9904.f597e8","type":"function","z":"27b141e4.135f1e","name":"","func":"var payload = context.get(\"payload\") || 0;\nmsg.topic = \"ESP/switch/\" + msg.payload;\npayload = payload === 0 ? 1 : 0;\nmsg.payload = payload;\ncontext.set(\"payload\", payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1170,"wires":[["19f1917.f0d066f","21271380.46281c"]]},{"id":"21271380.46281c","type":"mqtt out","z":"27b141e4.135f1e","name":"ESP/switch/+","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":880,"y":1170,"wires":[]},{"id":"19f1917.f0d066f","type":"debug","z":"27b141e4.135f1e","name":"","active":true,"console":"false","complete":"true","x":900,"y":1100,"wires":[]},{"id":"16030913.dfa577","type":"delay","z":"c83a711d.e09dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"125","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":700,"wires":[["a0806774.d84e18","ef9a73e1.2e5c"]]},{"id":"fec0f6e6.cec638","type":"switch","z":"c83a711d.e09dc","name":"Rate Limit On Msgs","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":1190,"y":710,"wires":[["16030913.dfa577"],["a0806774.d84e18"]]},{"id":"ef9a73e1.2e5c","type":"debug","z":"c83a711d.e09dc","name":"","active":false,"console":"false","complete":"true","x":1690,"y":680,"wires":[]},{"id":"c1273866.154298","type":"mqtt in","z":"74ae23ac.7d3dfc","name":"","topic":"Sensor/PH","qos":"2","broker":"63980a12.cc7494","x":240,"y":210,"wires":[["debc75cd.cb9668","b52c52b8.155f6"]]},{"id":"b52c52b8.155f6","type":"function","z":"74ae23ac.7d3dfc","name":"CO2 6.7","func":"var phLevel = 0;\nvar ph = 0;\nvar cmd = \"off\";\nvar d = new Date();\nvar hour = d.getHours();\nvar phRate = 0;\n\n\nif (hour >= 8 && hour < 17){\n    phLevel = 6;\n}\nelse{\n    phLevel = 7;\n}\n\nph = parseFloat(msg.payload);\n\nif (ph > phLevel ){\n   cmd=\"on\";\n}\n\nphLevel = (ph - phLevel) > 0.5 ? 1 : 0;\n\nvar phmsg = {payload: cmd};\nphmsg.topic = \"relays/input/co2\";\nphmsg.state = cmd;\nphmsg.channel = 5;\nphmsg.level = phLevel;\n\nreturn phmsg;\n\n","outputs":1,"noerr":0,"x":430,"y":210,"wires":[["5ca80d64.c4fe04"]]},{"id":"74dfca85.cd0a94","type":"mqtt out","z":"74ae23ac.7d3dfc","name":"relays/input/co2","topic":"relays/input/co2","qos":"","retain":"","broker":"63980a12.cc7494","x":1240,"y":230,"wires":[]},{"id":"debc75cd.cb9668","type":"debug","z":"74ae23ac.7d3dfc","name":"","active":false,"console":"false","complete":"true","x":450,"y":40,"wires":[]},{"id":"5b9e134e.731a3c","type":"twitter out","z":"c83a711d.e09dc","twitter":"ade538d4.467548","name":"Tweet","x":740,"y":1090,"wires":[]},{"id":"8c489397.950cc","type":"mqtt in","z":"c83a711d.e09dc","name":"","topic":"Sensor/WaterLevel","qos":"1","broker":"63980a12.cc7494","x":252.01953125,"y":1091.50390625,"wires":[["e3d7d509.aed0c8"]]},{"id":"e3d7d509.aed0c8","type":"function","z":"c83a711d.e09dc","name":"","func":"if (msg.payload > 101){\n    var msg2 =  {payload: \"Warning! WaterLevel: \" + msg.payload};\n    node.send(msg2);\n}\n\nif (msg.payload < 92){\n    var msg2 =  {payload: \"Warning! WaterLevel: \" + msg.payload};\n    node.send(msg2);\n}\n\n","outputs":1,"noerr":0,"x":450,"y":1090,"wires":[["276bbad2.20f056"]]},{"id":"276bbad2.20f056","type":"delay","z":"c83a711d.e09dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":610,"y":1210,"wires":[["5b9e134e.731a3c"]]},{"id":"5ca80d64.c4fe04","type":"switch","z":"74ae23ac.7d3dfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":630,"y":220,"wires":[["a709cf14.c114b"],["74dfca85.cd0a94"]]},{"id":"8523e9d2.875138","type":"trigger","z":"74ae23ac.7d3dfc","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"45","extend":false,"units":"s","reset":"","name":"","x":950,"y":130,"wires":[["74dfca85.cd0a94"]]},{"id":"d3128b4a.7c0408","type":"inject","z":"ad35b430.a40cf8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":199.00001525878906,"y":191.0000114440918,"wires":[["6a6165f5.6ae94c"]]},{"id":"6a6165f5.6ae94c","type":"exec","z":"ad35b430.a40cf8","command":"raspistill","addpay":false,"append":"-w 320 -h 240 -o -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":354.0000190734863,"y":181.0000114440918,"wires":[["9d50b23a.f5e0b"],[],[]]},{"id":"9d50b23a.f5e0b","type":"base64","z":"ad35b430.a40cf8","name":"","action":"str","property":"payload","x":520,"y":180,"wires":[["44540a4f.ff6194"]]},{"id":"44540a4f.ff6194","type":"template","z":"ad35b430.a40cf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":690.0000381469727,"y":182.00001049041748,"wires":[["450ce740.42b458"]]},{"id":"450ce740.42b458","type":"ui_template","z":"ad35b430.a40cf8","group":"fc0fb14a.1b8a3","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":829.0000438690186,"y":180.0000114440918,"wires":[[]]},{"id":"66747830.ba88f8","type":"mqtt in","z":"7994f3a.ba7940c","name":"","topic":"dosing/DP4","qos":"2","broker":"63980a12.cc7494","x":410,"y":1550,"wires":[["942db4ce.e037b8"]]},{"id":"f6dbab6a.9aec18","type":"debug","z":"7994f3a.ba7940c","name":"","active":true,"console":"false","complete":"true","x":720,"y":1550,"wires":[]},{"id":"bd3be862.c6efe8","type":"function","z":"7994f3a.ba7940c","name":"Create DP4 Msg","func":"var channel = msg.topic.split('/')[2];\n\n    \n    var newChannel = 0;\n    var send = false;\n    \n    switch(channel)\n    {\n        case \"micro\": \n            newChannel = \"1\";\n            send = true;\n            break;\n        case \"macro\": \n            newChannel = \"0\";\n            send = true;\n            break;\n        case \"alk\": \n            newChannel = \"2\";\n            send = true;\n            break;\n        case \"gh\": \n            newChannel = \"3\";\n            send = true;\n            break;\n    }\n    \n\nif (send){\n    var msg2 = {};\n    msg2.payload = parseInt(msg.payload === 'on' ? 1 : 0) ;\n    msg2.topic = \"dosing/DP4/\" + newChannel;\n    node.send(msg2);\n}\n\n\n","outputs":1,"noerr":0,"x":690,"y":1670,"wires":[["b2f96b0a.10c108","fcd80c88.7c3c8"]]},{"id":"fb95e395.51e23","type":"mqtt in","z":"7994f3a.ba7940c","name":"","topic":"relays/input/+","qos":"2","broker":"63980a12.cc7494","x":498.38536834716797,"y":1674.2249631881714,"wires":[["bd3be862.c6efe8"]]},{"id":"b2f96b0a.10c108","type":"mqtt out","z":"7994f3a.ba7940c","name":"","topic":"","qos":"","retain":"false","broker":"63980a12.cc7494","x":890,"y":1670,"wires":[]},{"id":"fcd80c88.7c3c8","type":"debug","z":"7994f3a.ba7940c","name":"","active":false,"console":"false","complete":"true","x":920,"y":1550,"wires":[]},{"id":"eb8c2405.56fc78","type":"change","z":"9d369813.62c968","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":290,"wires":[["eb17c8a6.6c74d8"]]},{"id":"eb17c8a6.6c74d8","type":"delay","z":"9d369813.62c968","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":280,"wires":[["90f001e2.91d35","63ed58e1.3378d8"]]},{"id":"90f001e2.91d35","type":"debug","z":"9d369813.62c968","name":"","active":false,"console":"false","complete":"true","x":960,"y":290,"wires":[]},{"id":"63ed58e1.3378d8","type":"change","z":"9d369813.62c968","name":"CHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":370,"wires":[["26807a4d.986486"]]},{"id":"6921ae35.d0b3f","type":"function","z":"9d369813.62c968","name":"Set Delay to millis","func":"var value  = context.get('delay') || 0;\n\n\n\n    \n    if (msg.topic === \"delay\")\n    {\n      value = msg.payload * 1000;\n      context.set('delay',value); \n      flow.set(\"origDelay\", value );\n    }\n    if (msg.topic === \"relay\")\n    {\n        msg.delay = value;\n        node.send(msg);\n    }","outputs":1,"noerr":0,"x":530,"y":370,"wires":[["eb17c8a6.6c74d8"]]},{"id":"26807a4d.986486","type":"function","z":"9d369813.62c968","name":"","func":"msg.topic = \"relays/input/\" + flow.get(\"pumpName\").toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":460,"wires":[["cd0ed33.0c4e63"]]},{"id":"bdd069c.7f36a98","type":"debug","z":"9d369813.62c968","name":"","active":true,"console":"false","complete":"true","x":740,"y":630,"wires":[]},{"id":"ad9467e3.bf9498","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"true","x":970,"y":140,"wires":[]},{"id":"31e22274.2832ae","type":"function","z":"9d369813.62c968","name":"","func":"\nvar value  = context.get('value') || 1000;\n\nif (msg.topic == \"delay\")\n{\n  value = msg.payload * 1000;\n  context.set('value',value);  \n}\n\nelse if (msg.payload == \"on\")\n{\n// value = flow.get(\"origDelay\");\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Done\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop);},value);\ncontext.set('timer',timer); \n\nvar count = value/1000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]); }, 1000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"off\")\n{\nvar timerstop  = context.get('timer');\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown');\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":560,"y":540,"wires":[[],["ab8d9844.034168"]]},{"id":"87fcdf4b.8beb4","type":"timeout","z":"9d369813.62c968","name":"My Timeout","outtopic":"","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"5","timer":"30","repeat":false,"again":false,"x":1410,"y":120,"wires":[[]]},{"id":"1890afae.7564e","type":"inject","z":"9d369813.62c968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1130,"y":120,"wires":[[]]},{"id":"f726003a.40761","type":"inject","z":"9d369813.62c968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1200,"y":230,"wires":[["5fa9223c.cfa16c"]]},{"id":"5fa9223c.cfa16c","type":"function","z":"9d369813.62c968","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":240,"wires":[["60ebc06b.558b"]]},{"id":"60ebc06b.558b","type":"debug","z":"9d369813.62c968","name":"","active":true,"console":"false","complete":"true","x":1610,"y":240,"wires":[]},{"id":"b9fc9df9.cf983","type":"debug","z":"829e5c6f.d86b7","name":"","active":false,"console":"false","complete":"true","x":520,"y":220,"wires":[]},{"id":"942db4ce.e037b8","type":"switch","z":"7994f3a.ba7940c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"line","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":1550,"wires":[["f6dbab6a.9aec18"],[]]},{"id":"fa19a30a.5c4e3","type":"delay","z":"27b141e4.135f1e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1230,"y":290,"wires":[["86af59c6.4ef138"]]},{"id":"a709cf14.c114b","type":"switch","z":"74ae23ac.7d3dfc","name":"","property":"level","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":780,"y":170,"wires":[["8523e9d2.875138"],["e2ebe4f9.0986b8"]]},{"id":"e2ebe4f9.0986b8","type":"trigger","z":"74ae23ac.7d3dfc","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"30","extend":false,"units":"s","reset":"","name":"","x":950,"y":180,"wires":[["74dfca85.cd0a94"]]},{"id":"eaaf65d6.05c128","type":"mqtt in","z":"2d30566f.d99c6a","name":"","topic":"sensor/color","qos":"0","broker":"63980a12.cc7494","x":930,"y":130,"wires":[["e2bb5fcd.9b38f"]]},{"id":"e2bb5fcd.9b38f","type":"debug","z":"2d30566f.d99c6a","name":"","active":false,"console":"false","complete":"true","x":1109.3666076660156,"y":129.46664428710938,"wires":[]}]