Node Red/Dosing Pumps/calibration.json
[{"id":"5e72f2ca.6c202c","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":4,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"fa-check","payload":"on","payloadType":"str","topic":"relay","x":150,"y":420,"wires":[["26807a4d.986486","6921ae35.d0b3f","31e22274.2832ae"]]},{"id":"f8e66795.34e7a8","type":"ui_numeric","z":"9d369813.62c968","name":"","label":"Seconds","group":"b1bcd85f.5a66b8","order":2,"width":"3","height":"1","passthru":false,"topic":"delay","format":"{{value}}","min":"1","max":"120","step":1,"x":158.00000190734863,"y":522.1812419891357,"wires":[["6921ae35.d0b3f","31e22274.2832ae"]]},{"id":"be5fe7c4.35fa28","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":5,"width":"3","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"fa-hand-stop-o","payload":"off","payloadType":"str","topic":"relay","x":150,"y":480,"wires":[["eb8c2405.56fc78","26807a4d.986486","31e22274.2832ae"]]},{"id":"ab8d9844.034168","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":3,"width":"3","height":"1","name":"","label":"Secs Remaining","format":"{{msg.payload}}","layout":"row-left","x":670,"y":510,"wires":[]},{"id":"6c2b6523.9850dc","type":"ui_text_input","z":"9d369813.62c968","name":"Results (ml)","label":"Result (ml)","group":"b1bcd85f.5a66b8","order":6,"width":"0","height":"0","passthru":true,"mode":"text","delay":"100","topic":"ml","x":190,"y":650,"wires":[["9f73369f.bb7238"]]},{"id":"9f73369f.bb7238","type":"function","z":"9d369813.62c968","name":"Set Flow Var","func":"var ml = msg.payload;\nvar secs = flow.get('pumpSecs');\nvar flowRate = (ml / secs).toFixed(4);\nmsg.payload = (flowRate);\nflow.set('flowRate', flowRate);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["dbd29da.d613a6","4be90e48.d045a"]]},{"id":"4be90e48.d045a","type":"debug","z":"9d369813.62c968","name":"ml","active":false,"console":"false","complete":"payload","x":810,"y":650,"wires":[]},{"id":"1af9fce4.d030c3","type":"ui_template","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","name":"Placeholder","order":9,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":690,"wires":[[]]},{"id":"58449b54.0c6974","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":7,"width":0,"height":0,"name":"","label":"Old Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":680,"y":140,"wires":[]},{"id":"dbd29da.d613a6","type":"ui_text","z":"9d369813.62c968","group":"b1bcd85f.5a66b8","order":8,"width":0,"height":0,"name":"","label":"New Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":830,"y":710,"wires":[]},{"id":"b402bdfa.d5079","type":"ui_button","z":"9d369813.62c968","name":"","group":"b1bcd85f.5a66b8","order":10,"width":"6","height":"1","label":"Saveit","color":"white","bgcolor":"","icon":"fa-save","payload":"1","payloadType":"num","topic":"","x":190,"y":820,"wires":[["78626221.590ddc"]]},{"id":"78626221.590ddc","type":"function","z":"9d369813.62c968","name":"Gather up parts","func":"\nglobal.set(\"Config/\" + flow.get(\"pumpName\").toLowerCase() + \"DoseRate\", flow.get('flowRate'));\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":820,"wires":[["342b7b5f.f8b064"]]},{"id":"647a16e4.669978","type":"ui_dropdown","z":"9d369813.62c968","name":"Dosing Pump","label":"Dosing Pump","place":"","group":"b1bcd85f.5a66b8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Macro","value":"Macro","type":"str"},{"label":"Micro","value":"Micro","type":"str"},{"label":"GH","value":"GH","type":"str"},{"label":"ALK","value":"ALK","type":"str"},{"label":"Drain","value":"Drain","type":"str"}],"payload":"","topic":"pumpName","x":260,"y":140,"wires":[["71b4c1fc.838a9"]]},{"id":"342b7b5f.f8b064","type":"mqtt out","z":"9d369813.62c968","name":"","topic":"persistContext","qos":"1","retain":"false","broker":"63980a12.cc7494","x":680,"y":820,"wires":[]},{"id":"71b4c1fc.838a9","type":"function","z":"9d369813.62c968","name":"PumpName","func":"//var pumpName = msg.payload;\nflow.set(\"pumpName\", msg.payload);\nvar oldRate = global.get(\"Config/\"+msg.payload.toLowerCase()+\"DoseRate\") || 2;\nmsg.payload = oldRate;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["58449b54.0c6974"]]},{"id":"cd0ed33.0c4e63","type":"mqtt out","z":"9d369813.62c968","name":"","topic":"","qos":"","retain":"","broker":"63980a12.cc7494","x":1080,"y":420,"wires":[]},{"id":"eb8c2405.56fc78","type":"change","z":"9d369813.62c968","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":250,"wires":[["eb17c8a6.6c74d8"]]},{"id":"eb17c8a6.6c74d8","type":"delay","z":"9d369813.62c968","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":240,"wires":[["90f001e2.91d35","63ed58e1.3378d8"]]},{"id":"90f001e2.91d35","type":"debug","z":"9d369813.62c968","name":"","active":false,"console":"false","complete":"true","x":880,"y":250,"wires":[]},{"id":"63ed58e1.3378d8","type":"change","z":"9d369813.62c968","name":"CHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":330,"wires":[["26807a4d.986486"]]},{"id":"6921ae35.d0b3f","type":"function","z":"9d369813.62c968","name":"Set Delay to millis","func":"var value  = context.get('delay') || 0;\n\n\n\n    \n    if (msg.topic === \"delay\")\n    {\n      value = msg.payload * 1000;\n      context.set('delay',value); \n      flow.set(\"origDelay\", value );\n    }\n    if (msg.topic === \"relay\")\n    {\n        msg.delay = value;\n        node.send(msg);\n    }","outputs":1,"noerr":0,"x":450,"y":330,"wires":[["eb17c8a6.6c74d8"]]},{"id":"26807a4d.986486","type":"function","z":"9d369813.62c968","name":"","func":"msg.topic = \"relays/input/\" + flow.get(\"pumpName\").toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":420,"wires":[["cd0ed33.0c4e63"]]},{"id":"31e22274.2832ae","type":"function","z":"9d369813.62c968","name":"","func":"\nvar value  = context.get('value') || 1000;\n\nif (msg.topic == \"delay\")\n{\n  value = msg.payload * 1000;\n  context.set('value',value);  \n}\n\nelse if (msg.payload == \"on\")\n{\n// value = flow.get(\"origDelay\");\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Done\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop);},value);\ncontext.set('timer',timer); \n\nvar count = value/1000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]); }, 1000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"off\")\n{\nvar timerstop  = context.get('timer');\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown');\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":480,"y":500,"wires":[[],["ab8d9844.034168"]]},{"id":"911e5f5c.2684","type":"comment","z":"9d369813.62c968","name":"Select which pump to calibrate","info":"","x":220,"y":70,"wires":[]},{"id":"14b4d9dc.5c1346","type":"comment","z":"9d369813.62c968","name":"Run pump for selected amount of seconds","info":"","x":250,"y":210,"wires":[]},{"id":"24adfc87.49dd44","type":"comment","z":"9d369813.62c968","name":"Show the resulting ml/sec","info":"","x":170,"y":600,"wires":[]},{"id":"aa595eed.a721a","type":"comment","z":"9d369813.62c968","name":"Save the results to the config ","info":"","x":160,"y":780,"wires":[]},{"id":"b1bcd85f.5a66b8","type":"ui_group","z":"","name":"Dosing Pumps Calibration","tab":"5a8bf5c.e36b40c","order":4,"disp":true,"width":"6"},{"id":"63980a12.cc7494","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a8bf5c.e36b40c","type":"ui_tab","z":"","name":"Water Mgmt","icon":"fa-leaf","order":10}]